body{
	background: #ededed url(./../images/bc.png) repeat;
	color: #6C7A89;
	font-family:'Dosis',Helvetica
}
a {
	color: #6C7A89;
	text-transform: capitalize;
}
h1 {
	font-size: 48px;
	font-weight: bold;
	color:#52B3D9;
}
h2 {
	font-size:36px;
}
h3 {
	font-size:24px;
}
.section.home {
	padding-top:120px;
	padding-bottom:70px;
}
.section.about {
	padding-bottom:80px;
}
.section.contact {
	padding-bottom:400px;
}
.section.portfolio {
	padding-bottom:85px;
}
.section {
	padding-top:30px;
}

.contact{
	background-image:  url(images/lviv.png);
}
.logos{
	margin-top:30px;
}
.logo{
	margin-left:20px;
}
.logos .logo{
	display: inline-block;
}
.cont{
	display: inline-block;
}
.name {
	font-size:16px;
}
.line{
	border-bottom: 2px solid #c9c9c9;
}
.section-title{
	position: relative;
	top:-14px;
	text-transform: strong;
	text-transform: uppercase;
	float:right;
	font-size: 16px;
	letter-spacing:4px;
	font-weight:normal;
	color:#c9c9c9;
}

.submenu {
	height: 80px;
	background-color: #95A5A6;

	z-index: 300;
}
.submenu.fxd {
	right: 0px;
	opacity: 0.8;

	-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.submenu .nav li a {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #EEEEEE;
}

.submenu .nav li a:hover, .submenu .nav li a.active {
	background-color: #ECF0F1;
	color: #6C7A89;
}
