 @font-face {
  font-family: 'FontAwesome'; 
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.svg);
  src: url(../fonts/fontawesome-webfont.ttf); 
  src: url(../fonts/fontawesome-webfont.woff);
  src: url(../fonts/fontawesome-webfont.woff2);
  src: url(../fonts/FontAwesome.otf);
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.eot);
  src: url(../fonts/OpenSans-ExtraBold.svg);
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  src: url(../fonts/OpenSans-ExtraBold.woff);
  src: url(../fonts/OpenSans-ExtraBold.woff2);
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.eot);
  src: url(../fonts/OpenSans-SemiBold.svg);
  src: url(../fonts/OpenSans-SemiBold.ttf);
  src: url(../fonts/OpenSans-SemiBold.woff);
  src: url(../fonts/OpenSans-SemiBold.woff2);
}
a, i, a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header{
  background: #62cdff;
  color: rgb(255, 255, 255);
}
header .langwich a, header .langwich a:hover{
  font-size: 13px;
  font-family: 'OpenSans-ExtraBold';
  color: rgb(255, 255, 255);
  line-height: 1.077;
  padding: 0 15px;
}
header .langwich a:first-child{
  border-right: 1px solid rgb(255, 255, 255);
  padding: 0 15px;
}
header .nav>li>a, header .nav>li>a:hover{
  font-size: 13px;
  font-family: 'OpenSans-ExtraBold';
  color: rgb(255, 255, 255);
  line-height: 1.077;
  background: transparent;
  padding: 0 15px;
}
header .nav>li{
  border-right: 1px solid rgb(255, 255, 255);
}
header .nav>li:last-child{
  border: 0;
}
.contact{
  display: flex;
}
.contact a{
  font-family: 'OpenSans-SemiBold';
  font-size: 13px;
}
.contact i{
  padding-right: 10px;
}
.contact .phone{
  margin-right: 20px;
}
header .form-control{
  background-color: #7ed6ff;
  border: 0;
}
header .input-group-addon:last-child{
  background-color: #7ed6ff;
  border: 0;
}
header .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
header .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
header .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
header .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.Rectangle_3 {
  background-color: rgb(126, 214, 255);
  position: absolute;
  left: 1159px;
  top: 129px;
  width: 356px;
  height: 48px;
  z-index: 50;
}

.menu{
  background: #575757;
}
.baner{
  background: url(../img/baner-baners.png);
}
.baner h3 {
  font-size: 36px;
  font-family: 'OpenSans-SemiBold';
  color: rgb(255, 255, 255);
  line-height: 0.389;
  text-align: left;
}
.baners{
  padding: 50px 0;
}
.baners img{
  width: 100%;
  margin-bottom: 40px;
}



