a{
	color: inherit;
}
.h2{
	font-family: "Open Sans", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #4647a8;
    margin: 45px 0 40px;
}
p{
	font-size: 18px;
	line-height: 1.5;
}
.img-responsive{
	width: -webkit-fill-available;
}
.bg-black{
	background: #000;
}
.bg-grey{
	background: #f8f8f8;
}
.border{
	border: 1px solid #000;
	border-radius: 5px;
}
.bg-grey .carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 20px;
  width: 30px;
  height: 30px;
  line-height: 1.9;
  font-size: 18px;
  border: none;
}
.bg-grey .carousel-indicators-numbers li.active{
    width: 36px;
    height: 35px;
    border: 1px solid #000;
    background: transparent;
    border-radius: 5px;       
}
.bg-grey .carousel{
	margin: 45px 0 110px;
}
.bg-grey .carousel-indicators{
	bottom: -75px;
	width: auto;
    left: 40%
}
.bg-black .carousel{
	margin: 85px 0 110px;
}
.bg-black .carousel-indicators{
	bottom: -60px;
}
.bg-black .carousel-indicators li{
	background-color: #666666;
	border-color: #666666;
	margin: 12px;
}
.bg-black .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 12px;
    border-color: #fff;
    background: #fff;
}
.text-center p{
	width: 45%;
	margin: auto;
	padding-bottom: 40px;
}
.request-block{
	margin: 70px 0 60px;
}
.btn{
	padding: 7px 30px;
    font-size: 18px;
}
.picture .col-md-6{
	padding-right: 10px;
	padding-left: 10px;
}
.picture{
	margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
	.paginat span {
    margin: 5px;
	}
	.h2, p{
		text-align: center;
	}
	.text-center p{
		width: auto;
	}
	.mb-mobile{
		margin-bottom: 20px;
	}
	.bg-grey .carousel-indicators-numbers li{
		margin: 0 5px;
	}
}