/* jFlex library. Made by Jeto */
/* https://jflex.org */
/* https://jeto.org */


//fonts
$iconsFont: 'icons';
$gothamProReg: 'gothamproreg';
$gothamProLight: 'gothamprolight';
$gothamProMed: 'gothampromed';
$gothamProBold: 'gothamprobold';

//custom-change
$fontSizeMain: 16px;
$fontColorMain: #444;

//fonts colors
$fontColorDescription: #777;

//colors
$white: #fff;
$lightGrey: #eee;
$grey: #aaa;
$darkGrey: #444;
$black: #222;
$darkBlack: #000;
$orange: #eba900;
$darkOrange: #ff860e;
$blue: #2888aa;
$red: #c60c30;






