/* jFlex library. Made by Jeto */
/* https://jflex.org */
/* https://jeto.org */


/* mobile version */
.mm-menu .tab-name:before {
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background: transparent;
  border: none; }

.isadaptive-t.m-view, .isadaptive-m.m-view {
  overflow: hidden; }

.ismobiledevice {
  margin-top: 50px !important;
  /* checkout mobile */
  /* leftside filters */
  /* JBox */ }
  .ismobiledevice.m-view {
    overflow: hidden; }
  .ismobiledevice .m-hide {
    display: none !important; }
  .ismobiledevice .d-hide {
    display: block !important; }
  .ismobiledevice .checkout .cart-content {
    display: none; }
  .ismobiledevice .checkout .sticky-wrapper {
    height: auto !important; }
  .ismobiledevice .suggestions-mobile .suggestions-suggestion {
    padding-left: 10px !important;
    font-size: 14px; }
  .ismobiledevice .leftside .block .content {
    display: none; }
  .ismobiledevice #jbox-overlay {
    display: none; }
  .ismobiledevice .jbox-holder {
    position: fixed;
    left: 0;
    top: 0 !important;
    height: 100%;
    min-height: 100%;
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .ismobiledevice .jbox-holder.active {
      display: table; }
    .ismobiledevice .jbox-holder .inner-wrap {
      display: table-row;
      height: 100%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .ismobiledevice .jbox-holder .inner {
      display: table-cell;
      position: relative;
      z-index: 0;
      height: 100%;
      vertical-align: middle;
      padding: 10px;
      margin-top: 45px; }
    .ismobiledevice .jbox-holder .jbox-control .prev:before {
      left: 0; }
    .ismobiledevice .jbox-holder .jbox-control .next:before {
      right: 0; }
    .ismobiledevice .jbox-holder .jbox-close {
      width: 50px;
      height: 50px;
      right: 0;
      top: 0;
      padding: 20px 20px 0 0;
      text-align: right; }

.mm-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  width: 100%;
  height: 50px;
  background-color: #fff; }
  .mm-menu .tabs-nav {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 50px;
    overflow: hidden;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .mm-menu .tabs-nav + * {
      float: none;
      width: auto; }
    .mm-menu .tabs-nav .tab-name {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0;
      text-decoration: none;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .mm-menu .tabs-nav .tab-name.first, .mm-menu .tabs-nav .tab-name.last, .mm-menu .tabs-nav .tab-name.active.last {
        border: none; }
  .mm-menu .tab-name.active:before {
    color: #444; }
  .mm-menu .tab-name.navigation::before {
    content: '\e90e';
    font-family: "icons";
    font-size: 32px;
    color: #777; }
  .mm-menu .tab-name.navigation.close::before {
    content: '\e117';
    font-size: 24px; }
  .mm-menu .tab-name.search:before {
    content: '\e631';
    font-family: "icons";
    font-size: 20px;
    color: #777; }
  .mm-menu .tab-name.cart {
    margin-right: 15px; }
    .mm-menu .tab-name.cart:before {
      content: '\e7d1';
      font-family: "icons";
      font-size: 24px;
      color: #777; }
  .mm-menu .cart .qty-items {
    position: absolute !important;
    top: 17px;
    right: -5px;
    z-index: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    color: #fff !important;
    background-color: #d81f44 !important;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }

/* navigation */
.m-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 102;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 70px 15px 10px;
  color: #444;
  background-color: #fff;
  /* cart mobile block */ }
  .m-panel .tab-page {
    padding: 0; }
    .m-panel .tab-page.navigation ul ul .active-trail {
      position: relative;
      text-decoration: underline;
      /*    &:before {
            content:'\e7df';
            position:absolute;
            left:-3px;
            top:10px;
            font-family: $iconsFont;
            font-size:12px;
          }*/ }
    .m-panel .tab-page.navigation li > a, .m-panel .tab-page.navigation li > span {
      display: block;
      margin: 15px 0;
      font-size: 14px;
      text-decoration: none; }
    .m-panel .tab-page.navigation .title {
      font-weight: bold; }
    .m-panel .tab-page.navigation .expanded ul.menu {
      display: block; }
    .m-panel .tab-page.navigation .expanded ul {
      position: relative;
      top: 0;
      left: 0;
      width: inherit;
      padding-top: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .m-panel .tab-page.navigation .expanded ul ul {
        padding: 0;
        margin: 0;
        border: none; }
      .m-panel .tab-page.navigation .expanded ul li.expanded {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd; }
        .m-panel .tab-page.navigation .expanded ul li.expanded.last {
          padding: 0;
          margin: 0;
          border: none; }
      .m-panel .tab-page.navigation .expanded ul a {
        padding: 3px 0;
        margin: 0 0 5px;
        font-size: 14px; }
    .m-panel .tab-page.navigation .last.expanded ul {
      border-bottom: none; }
    .m-panel .tab-page.navigation .home {
      position: relative;
      padding-left: 25px;
      line-height: 20px;
      font-weight: bold; }
      .m-panel .tab-page.navigation .home:before {
        content: '\e67e';
        position: absolute;
        left: 0;
        top: 0;
        font-family: "icons";
        font-size: 16px;
        color: #777;
        cursor: default; }
  .m-panel .search .globalsearch .ui-autocomplete {
    top: 40px !important;
    width: 100% !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .m-panel .search .globalsearch .ui-autocomplete .ui-menu-item,
    .m-panel .search .globalsearch .ui-autocomplete .ui-autocomplete-fields {
      padding: 5px 0; }
  .m-panel .cart .total {
    display: none; }
  .m-panel .cart .cart-content {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding-bottom: 20px;
    color: #444; }
  .m-panel .cart-content a {
    color: #444 !important; }
  .m-panel .cart-content table tbody {
    border-top: none; }
  .m-panel .cart-content table th {
    display: none; }
  .m-panel .cart-content td.desc {
    min-width: inherit; }
  .m-panel .cart-content td.subtotal {
    text-align: center; }
  .m-panel .cart-content td.qty {
    width: inherit; }
  .m-panel .cart-content td.remove {
    min-width: 25px; }
    .m-panel .cart-content td.remove:before {
      left: 0;
      width: 20px; }
  .m-panel .cart-content .ajax-progress-overlay {
    background-color: rgba(255, 255, 255, 0.5) !important; }

/* global search */
.ismobiledevice .globalsearch {
  width: 100%;
  margin-top: 10px; }
  .ismobiledevice .globalsearch .title {
    font-size: 14px; }

/*# sourceMappingURL=mobile.css.map */
