/* jFlex library. Made by Jeto */
/* https://jflex.org */
/* https://jeto.org */



/* font assignments */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  cursor: default;
}

h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 32px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 22px;
}
h6, .h6 {
  font-size: 18px;
}

body, body a, button, input, optgroup, select, textarea {font-family: $gothamProReg, arial, tahoma, verdana,sans-serif;}

b, strong, th {font-weight:normal; font-family: $gothamProBold;}

.regular, .regular a {
  font-family: $gothamProReg;
  font-weight: normal;
}

.bold, .bold a {font-family: $gothamProBold;}

.medium, .medium a {font-family: $gothamProMed;}

.light, .light a {font-family: $gothamProLight;}

.small,
.description {
  font-size: 88%!important;
}
.smaller {
  font-size: 80%!important;
}
.smallest {
  font-size: 70%!important;
}
.micro {
  font-size: 60%!important;
}
.big {
  font-size: 130%!important;
}
.bigger {
  font-size: 170%!important;
}
.biggest {
  font-size: 200%!important;
}

.description {
  color: $fontColorDescription;
  clear: none!important;

  ul {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.crossline {text-decoration: line-through;}

.ucase {
  text-transform: uppercase;
}
.lcase {
  text-transform: lowercase;
}

/* aligns */

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

/* line-height */
.lh10 {
  line-height:10px;
}
.lh15 {
  line-height:15px;
}
.lh20 {
  line-height:20px;
}
.lh25 {
  line-height:25px;
}
.lh30 {
  line-height:30px;
}
.lh35{
  line-height:35px;
}
.lh40 {
  line-height:40px;
}
.lh45 {
  line-height:45px;
}
.lh50 {
  line-height:50px;
}