body {
	background: url(../images/Background.png);
	background-size: 100%;
	font-family: 'PT Sans', sans-serif;
}


.center {
	margin: auto;
}

.logo {
	width: 161px;
	margin-top: 89px;
}

.text{
	font-weight: bold;
	font-size:60px;
	width: 1000px;
	height: 55px;
	margin-top:95px;
	position: relative;
}
.underline {
	padding-top:0px;
	margin-right:0px;
	width:180px;
	height:6px;
	position: absolute;
	right: 57px;
	top: 9px;
	
	
}	
.underline img{
	width:180px;
	height:6px;
	background-color: ec4444;
}

.sing-up {
	width: 435px;
	margin-top:90px;
	font-size:16px;
	position:relative;
}

.email-wrapper {
	position:relative;
}

.email-wrapper button {
	position: absolute;
	right: 7px;
	top: 5px;
	border-radius: 15px;
	width:30px;
	height: 30px;
	border:0;
	background-color: ec4444;
	
}

.email {
	width: 100%;
	background-color:#505050;
	border:0;
	opacity: 0.4;
	height: 40px;
	padding-left:10px;
	color:white;
	font-size: 20px;
	
}
.top-input {
	color: white;
	font-size:16px;
	margin-bottom:0;
	padding-bottom:0;
	}
	
.bottom-input {
	color: white;
	font-size:12px;
	margin-top:0;
	padding-top:0;
	position: absolute;
	right: 0px;
}
.twitter{
	margin-top:110px;
	width:180px;
	position:relative;
}
.p-twitter {
	font-size:12px;
	color: white;
	position:absolute;
	right: 46px;
	top: -6px;
	
	
	
}
.twitter img {
	height:26px;
	width:26px;
	color:#FFFFFF;
}

.h4 {
	color: white;
}
	
	
