.float-left{
	float: left;
}
.float-right{
	float: right;
}
.inline{
	display: inline-flex;
}
.main{
	margin-top: -50px;
	padding-top: 100px;
}
.logo img{
	padding-right: 50px;
}
.logo-text{
	font-size: 50px;
	line-height: 1.4;
	padding-left: 50px;
}
.phone a{
	text-decoration: none;
}