@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Regular.eot');
src: url('../fonts/Roboto-Regular.otf'),
url('../fonts/Roboto-Regular.woff') format('woff'),
url('../fonts/Roboto-Regular.svg') format('woff'),
url('../fonts/Roboto-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{
	font-family: 'Roboto';
}
.flex{
  display: flex;
}
.left{
  float: left;
}
.right{
  float: right;
}
.form-control:focus{
  box-shadow: none;
  border: 0;
}
.bg-grey{
	background: #f4f6fa;
}
.bg-bgrey{
  background: #dae0eb;
}
.bg-green{
	background: #35a947;
}
.bg-orange{
	background: #ff5722;
}
.bg-transparent{
  background: transparent;
}
.bg-white{
  background: #fff;
}
.border-white{
  border: 1px solid #fff !important;
}
.opacity{
  opacity: 0.1;
}
.text-white{
  color: #fff;
}
.text-green{
  color: rgb(53, 169, 71) !important;
}
.text-pink{
  color: rgb(234, 0, 112);
}
.bold{
  font-weight: bold;
}
.text-orange{
	color: rgb(255, 87, 34);
}
.btn:hover, .btn:focus, .btn.focus{
  color: #fff;
}
.padding{
  padding: 5px;
}
.right.flex div{
  margin: 5px;
}
.burse-table{
  font-size: 10px;
}
.burse-table::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.burse-table::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.burse-table:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.burse-table:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.input-group-addon{
  padding: 0 10px;
}
.glyphicon-search{
  font-size: 10px;
}
.star{
  margin: 5px;
}
.burse-table .t-radio{
  position: relative;
  top: 3px;
}
.burse-table .table{
  margin-bottom: 0;
}
.glyphicon-triangle-bottom{
  font-size: 8px;
  margin-left: 5px;
}
header{
	background: #262a42;
  padding: 15px 0;
  margin-bottom: 10px;
}
header .top{
  background-image: linear-gradient(to right, #2c3048 , #1e2238);
  padding: 20px 0;
}
.top.flex div{
  margin: 0 2px;
}
header .bottom{
  margin: 25px 60px 34px;
}
header .col-md-4{
  padding: 0 7px;
}
.language{
  width: 82px !important;
}
.title{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  padding: 25px 0;
}
.title-table{
	font-size: 20px;
}
header .left{
  padding-top: 20px;
  padding-bottom: 28px;
}
header .text-center{
  background: #2b2f48;
}
header .center{
  padding: 10px 50px;
}
.btn img{
  padding-right: 10px;
}
.form-control{
  border-radius: 20px;
  border: 0;
  width: auto;
  height: 40px;
  padding: 10px 20px;
}
header input.form-control{
  background: #363c59;
  width: -webkit-fill-available;
}
header .form-group{
  margin-bottom: 5px;
}
.btn-large{
  width: -webkit-fill-available;
}
.large.balance{
  font-size: 16px;
  color: rgb(197, 202, 228);
  padding-top: 5px;
}
.large.balance span{
  font-size: 28px;
  font-weight: bold;
}
.small.balance{
  font-size: 15px;
  color: rgb(197, 202, 228);
}
.small.balance span{
  font-size: 18px;
  font-weight: bold;
}

/*tabs*/
.nav-tabs > li{
  width: 50%;
}
.nav-tabs > li > a, .nav > li > a:hover, .nav > li > a:focus{
  background: #dae0eb;
  border: 0;
  color: rgb(114, 127, 151);
  font-weight: bold;
  padding: 15px;
  text-align: center;
}
.nav-tabs{
  border: 0;
}
.border-grey{
  border: 1px solid rgb(203, 213, 233);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background: transparent;
  border: 0;
  font-size: 16px;
  color: rgb(255, 87, 34);
  font-weight: bold;
}
.tab-content{
  padding: 25px 0 5px;
  text-align: center;
  box-shadow: 0 10px 10px -5px #dae0eb;
}
.tab-content .form-group, .edit .form-group{
  margin-bottom: 5px;
}
.tab-content .form-control, .edit .form-control{
  height: 45px;
}
.tab-content label, .edit label{
  font-size: 16px;
  color: rgb(38, 42, 66);
  width: 80px;
  font-weight: 100;
}
.edit label{
  width: 60px;
}
.tab-content .btn{
  width: 50%;
  margin: 20px auto;
}
.tab-content .right .btn{
  margin-top: 70px;
}
.tab-content::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.tab-content::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.tab-content:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  color: rgb(38, 42, 66);
}
.tab-content:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: rgb(38, 42, 66);
}

/*table*/
.table-bottom table{
    box-shadow: 0 10px 10px -5px #dae0eb;
}
.table-bottom table thead{
  background: #292e46;
  color: #fff;
}
.table-bottom .table > thead > tr > th, .table-bottom .table > tbody > tr > th, .table-bottom .table > tfoot > tr > th, .table-bottom .table > thead > tr > td, .table-bottom .table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  padding: 8px 0;
}
.table-bottom .table > thead > tr > th{
  padding: 14px 0;
}
.table-bottom .table > tbody > tr > th, .table > tfoot > tr > th,  .table > tbody > tr > td, .table > tfoot > tr > td{
  font-weight: 100;
  color: rgb(38, 42, 66);
}
.table > tbody > tr:hover{
  background: #f4f6fa;
}
.click-edit{
  width: fit-content;
  border: 1px solid #f4f6fa;
  position: relative;
  top: 230px;
  left: 60px;
}
.click-edit div{
  padding: 8px 12px;
}
.edit{
  margin: 0 100px;
  position: relative;
  left: 100px;
}
.edit .btn{
  margin: 20px auto;
  padding: 8px 50px;
}
.edit-title{
  font-size: 16px;
  color: rgb(41, 46, 70);
  font-weight: bold;
  padding: 15px 0;
}
table{
  position: relative;
}
.click-table{
  position: absolute;
  bottom: 0;

}






