@font-face {
    font-family: 'GillSansProCyrillic-Bold'; 
    src: url('fonts/GillSans.ttc');
    src: url('fonts/GillSansProCyrillic-Bold.woff');
 }
@font-face {
  font-family: 'Ubuntu-B'; 
  src: url('fonts/Ubuntu-B.ttf');
 }

 @font-face {
  font-family: 'Ubuntu-M'; 
  src: url('fonts/Ubuntu-M.ttf');
 }

 @font-face {
  font-family: 'Ubuntu-R'; 
  src: url('fonts/Ubuntu-R.ttf');
 }

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

.subMenu {

  
}
.subMenu.fxd {
  width: 100%;
  right: 0px;
  opacity: 0.8;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

  header{
    font-family: 'Ubuntu-M'; 
    background: #e6edf6;
    height: 65px;
    width: 100%;
    z-index: 300;
    color: #232648;
    
  }

  .header-request {
    font-family: 'GillSansProCyrillic-Bold'; 
    background: #df402f;
    font-size: 14.66px;
    color: #ffffff; 
    letter-spacing: 2px;
    text-transform: uppercase;   
  }
  .header-request:hover {
    background: #df402f;
    font-size: 14.66px;
    color: #ffffff; 
    letter-spacing: 2px;
    text-transform: uppercase;   
  }
   .header-request:focus {
    background: #df402f;
    font-size: 14.66px;
    color: #ffffff; 
    letter-spacing: 2px;
    text-transform: uppercase;   
  }

  header nav{
    float: right;
  }
  header a{
    display: inline-block;
    padding: 10px 7px 10px 7px;;
    margin-top: 10px;
    margin-right: 20px;
    background-color: transparent;
    color: #232648;
    font-size: 14px;
    text-transform: uppercase; 
  }
  header a:hover{
    background-color: transparent;
    color: #232648;
    text-transform: uppercase; 
  }
  header a:focus{
    background-color: transparent;
    color: #232648;
    text-transform: uppercase; 
  }
  .logo{
    float: left;
    margin-right: 650px;
  }
  .logo a{
    color: #232648;
  }
  .logo a:hover{
    color: #232648;
  }

  .main{
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
  }
  .text{
    margin-top: 110px;
    color: #ffffff;
  }

  .text h1{
    font-family: 'GillSansProCyrillic-Bold'; 
    font-size: 68px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px 0px 20px;
    background: #232648;
    margin: 0 20px 0 0;
    text-align: right;
    float: right;
  }

  .text p{
    font-family: 'Ubuntu-R';
    letter-spacing: 1px;
    font-size: 25px;
    padding: 0px 20px 10px 20px;
    background: #232648;
    color: #ffffff;
    margin: 0 20px 0 0;
    float: right;
  }
  .request{
    font-family: 'GillSansProCyrillic-Bold'; 
    background: #df402f;
    padding:10px 15px 10px 15px;
    margin: 20px 35px 0 0;
    text-align: center;
    float: right;
    font-size: 25px;
    text-transform: uppercase; 
  }

  .request a{
    color: #ffffff;
    text-align: center;

  }
  .request a:hover{
    color: #ffffff;
  }

  .down{
    margin-top: 140px;
    margin-bottom: 40px;
  }

/*how does it work*/

.work{
  background: #22aa99;
  padding-bottom: 15px;
}

.title h3{
  font-family: 'GillSansProCyrillic-Bold'; 
  background: #ffffff;
  font-size: 40px;
  color: #232648;
  padding: 10px 25px 5px 25px;
  margin: 67px 0px 80px -10px;;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}

.work img{
  margin: 0px 0px 20px 10px;
}
.work h4{
  font-family: 'Ubuntu-M'; 
  background: #232648;
  font-size: 21px;
  color: #ffffff;
  padding: 1px 0px 0px 5px;
  margin: 0px 0 0px 0;
  text-transform: uppercase;
  text-align: left;
  width: 220px;
}
.work p{
  font-family: 'Ubuntu-R';
  font-size: 20.83px;
  color: #232648;
  letter-spacing: 0px;
  line-height: 23px;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}

/*price*/

.price{
  background:#e6edf6;
  padding-top: 3%;
  padding-bottom: 2%;
}

.price h5{
  font-family: 'GillSansProCyrillic-Bold'; 
  font-size: 30px;
  background: #ffcf45;
  color: #232648;
  padding: 10px 10px 10px 10px;
  letter-spacing: 1px;
  text-align: center;
  width: 72%;
  text-transform: uppercase;
  margin: auto;
}

.price p{
  font-family: 'Ubuntu-R';
  font-size: 20.83px;
  color: #232648;
  padding: 10px 10px 10px 10px;
  letter-spacing: 0px;
  text-align: center;
}

/*advantages*/

.advantages{
  background: #22aa99;
  padding-bottom: 60px;
}
.advantages img{
  margin: 0px 0px 20px 10px;
}
.advantages h4{
  font-family: 'Ubuntu-M'; 
  background: #232648;
  font-size: 21px;
  color: #ffffff;
  padding: 1px 0px 0px 5px;
  margin: 0px 0 0px 0;
  text-transform: uppercase;
  text-align: left;
  width: 200px;
}
.advantages p{
  font-family: 'Ubuntu-R';
  font-size: 19.1px;
  color: #232648;
  line-height: 23px;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}
/*sharefb*/

.sharefb{
  background: #232648;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sharefb p{
  font-family: 'Ubuntu-R';
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 1px; 
  padding-bottom: 10px;
}

.sharefb button{
  font-family: 'GillSansProCyrillic-Bold'; 
  font-size: 30px;
  color: #ffffff; 
  padding: 10px;
  background: #df402f;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px; 
}

/*faq*/

.faq{
  background: #22aa99;
  padding-bottom: 2%;
}

.faq h3{
  font-family: 'GillSansProCyrillic-Bold';
  font-size: 40px;
  background: #ffffff;
  color:#232648;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  float: left;
  margin: 70px 0px 40px -25px;
}

.faq li{
  list-style: none;
  padding: 10px 0px 10px 0px;
}
.faq a{
  font-family: 'Ubuntu-R';
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 70px 0px 60px -25px;
}


.description{
  color: #ffffff;
  font-size: 18.75px;
  width: 60%;
  height: 380px;
  border: 1px solid #ffffff;
  margin: 70px 0px 60px 0px;
}
.order, .delivery, .return, .pay, .assortment{
  display: none;
}

/*form*/

.forms{
  background: #e6edf6;
}

.forms h4{
  font-family: 'GillSansProCyrillic-Bold';
  font-size: 35px;
  background: #232648;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: 70px 0px 40px 0px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.forms p{
  font-family: 'Ubuntu-R';
  font-size: 20px;
  color: #232648;
}

.forms button{
  font-family: 'GillSansProCyrillic-Bold';
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  background: #de3f2e;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin: 30px 0px 30px 0px;
}

/*footer*/

footer{
  background: #232648;
  font-size: 20px;
  font-family: 'Ubuntu-M';
  padding: 20px 30px 20px 30px;
  p
}

.contact{
  float: right;
}
.footer-logo{
 display: inline-block; 

}
.footer-logo a{
 color: #ffffff;
 letter-spacing: 1px;
}

.footer-logo a:hover{
 color: #ffffff; 
}
.email{
  display: inline-block;
}
.email a{
  color: #959495;
  display: inline-block;
}

.email a:hover{
  color: #959495;
}
.facebook{
  display: inline-block;
  padding-left: 20px;
}