@font-face {
	font-family: "Exo2Regular";
	src: url("../fonts/Exo2Regular/Exo2Regular.eot");
	src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
	url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.font-regular{
	font-family: "Exo2Regular";
}
@font-face {
	font-family: "Exo2Bold";
	src: url("../fonts/Exo2Bold/Exo2Bold.eot");
	src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
	url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.font-bold{
	font-family: "Exo2Bold";
}
@font-face {
	font-family: "Exo2Light";
	src: url("../fonts/Exo2Light/Exo2Light.eot");
	src: url("../fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Light/Exo2Light.woff") format("woff"),
	url("../fonts/Exo2Light/Exo2Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.font-light{
	font-family: "Exo2Light";	
}

@font-face {
	font-family: "Exo2Medium";
	src: url("../fonts/Exo2Medium/Exo2Medium.eot");
	src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
	url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.font-medium{
	font-family: "Exo2Medium";	
}
a, a:hover{
  color: inherit;
  text-decoration: none;
}
.btn.focus, .btn:focus, .btn:hover{
	color: #fff;
}
.menu-block a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	color: rgb(56, 127, 62);
}
ul{
	padding-inline-start: 0px;
}
.flex{
	display: flex;
}
.f-14{
	font-size: 14px;
	line-height: 1.2;
}
.f-18{
	font-size: 18px;
}
.f-20{
	font-size: 20px;
}
.f-24{
	font-size: 24px;
	line-height: 1.2;
}
.f-36{
	font-size: 36px;
}
.text-blue{
	color: rgb(11, 103, 165);	
}
.text-black{
	color: rgb(0, 0, 0);
}
.text-white{
	color: #fff;
}
.text-green{
	color: rgb(56, 127, 62);
}
.bg-green{
	background: #0b9817;
}
.bg-blue, .icon-bar{
	background: #0b67a5;
}
.border-bottom{
	border-bottom: 1px solid rgb(56, 127, 62);
}
.border-bottom:hover{
	text-decoration: none;
}
h2{
	margin: 75px 0 55px;
}
.item li{
	display: inline-flex;
}
header{
	border-bottom: 1px solid rgb(11, 103, 165);
	padding-top: 20px;
}
.lang i{
	display: none;
}
.menu-block{
	border-top: 1px solid rgb(11, 103, 165);
	margin-top: -40px;
}
.menu{
	margin-left: 23%;
}
.logo{
	background: #fff;
    padding: 0 25px;
    margin-right: 40px;
}
header .contact{
	margin-right: 40px;
}
header .contact div{
	margin-bottom: 5px;
}
header .contact .text-blue{
	margin-bottom: 10px;
}
.mobile-contact{
	display: none;
}
.lang{
	margin-bottom: 30px;
}
.lang img:last-child{
	margin-right: 0;
}
header .fa-media{
	color: rgb(11, 103, 165);
	border: 1px solid rgb(11, 103, 165);
	font-size: 26px;
    width: 50px;
    height: 50px;
    padding: 12px;
}
header .fa-media:hover{
	color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: transparent;
}
.dropdown-menu>li>a{
	color: rgb(11, 103, 165);
}
.dropdown-menu{
	border: 0;
	border-bottom: 2px solid #0b67a5;
	border-radius: 0;
}
.nav>li>a{
	padding: 20px 25px;
}
footer{
	background: #03263d;
}
.fa-media {
    padding: 7px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.fa-media:hover{
	background: #0b9817;
	border-color: transparent;
	text-decoration: none;
}
.inline{
	display: inline-block;
}
/*menu*/
.menu .fa{
	margin-left: 8px;
}
/*main*/
.main{
	position: relative;
}
.main::after {
  content: "";
  background: url(../images/bg-main.png) no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.carousel-indicators{
	display: none;
}
.carousel-control.right, .carousel-control.left{
	background-image: none;
}
.carousel-control{
	top: 50%;
	font-size: 30px;
	color: rgb(11, 103, 165);
	width: auto;
	text-shadow: none;
	opacity: 1;
}
.carousel-control:hover{
	color: rgb(56, 127, 62);
}
.main .item{
	margin: 65px 100px;
}
.main .font-bold{
	line-height: 1;
    margin-bottom: 30px
}
.main .btn{
	margin-top: 40px;
	line-height: 1;
}
.btn-oval{
	padding: 12px 40px 14px;
    border-radius: 20px;	
}
.main{
	border-bottom: 1px solid rgba(11, 103, 165, 0.5);
}
/*service*/
.services li, .article li{
	width: 360px;
	margin: 10px 0 15px;
	margin-right: 25px;
}
.services li:nth-child(3n), .article li:nth-child(3n){
	margin-right: 0px;
}
.services .text-blue{
	margin: 10px 0 15px;
}
.services li:hover .text-blue, .article li:hover .text-blue{
	color: rgb(56, 127, 62);
}
/*reviews*/
.reviews{
	background: url(../images/bg-reviews.png) no-repeat;
	background-size: cover;
	border-bottom: 1px solid rgb(11, 103, 165);
	border-top: 1px solid rgb(11, 103, 165);
	margin: 40px 0;
	padding-bottom: 130px;
}
.reviews .carousel{
	margin: 0 245px;
}
.reviews .carousel .item{
	margin: 0 95px;
}
.reviews .carousel .item .text-blue{
	margin: 10px 0 23px;
}
.reviews .carousel .item .font-light{
	line-height: 1.2;
}
.reviews .carousel-control{
	top: 15%;
}
.reviews .fa{
	font-size: 40px;
}
/*article*/
.article h2{
	margin: 37px 0 50px;
}
.article a{
	position: relative;
}
.article-date{
	padding: 5px 8px 8px;
	width: fit-content;
	position: absolute;
	z-index: 1;
	margin-left: 15px;
}
.article li:hover .article-date{
	background: #387f3e;
}
.article-date .border-bottom{
	border-bottom: 1px solid #fff;
	padding: 2px 0;
}
.article .font-medium{
	margin: 10px 0 17px;
}
/*reqest*/
.request{
	background: url(../images/bg-request.png) no-repeat;
	margin: 77px 0 0;
	padding: 50px 0;
	background-size: cover;
}
.request h2{
	margin-top: -20px;
	padding: 0 25px;
}
.module{
	margin: 20px 195px 40px;
	padding: 55px 50px 0;
	position: relative;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	border-left: 4px solid #fff;
}
.module__top {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.module__top:before {
	display: block;
	content: "";
	flex: 2 0 0;
	height: 1px;
	border-top: 4px solid #fff;
}
.module__top:after {
	display: block;
	content: "";
	flex: 2 0 0;
	height: 1px;
	border-top: 4px solid #fff;
}
.request .form-control{
	background: transparent;
	border-radius: 0;
	height: 40px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    font-family: "Exo2Light";
    border: 1px solid rgba(255, 255, 255, 0.329);
}
textarea{
	height: 110px;
}
.request ::placeholder{
  font-size: 18px;
  color: #fff;
  font-family: "Exo2Light";
  opacity: 1;
}
.request:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 18px;
  color: #fff;
  font-family: "Exo2Light";
}
.request::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 18px;
  color: #fff;
  font-family: "Exo2Light";
}
.request:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: rgb(38, 42, 66);
  font-family: "Exo2Light";
}
.request .btn{
	padding: 8px 70px 10px;

}
.select-items{
	background: transparent;
}
/*contact*/
.contact h2{
	margin: 70px 0 50px;
}
.contact iframe{
	width: -webkit-fill-available;
	height: 520px;
}
.map-contact{
	position: absolute;
	z-index: 1;
	background: #fff;
	margin-top: -530px;
    margin-left: 400px;
}
.nav-tabs{
	border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: rgb(11, 103, 165);
	border: 0;
	border-bottom: 2px solid rgb(11, 103, 165);
	cursor: pointer;
}
.nav-tabs>li>a{
	color: rgba(11, 103, 165, 0.5);
	border: 0;
	margin: 20px 30px;
    padding: 0;
    padding-bottom: 8px;
}
.tab-content{
	padding: 10px 45px;
}
.tab-content .font-light{
	line-height: 2.2;
    margin-bottom: 30px;
}
/*footer*/
footer{
	padding: 40px 0;
	margin-top: -5px;
}
footer li{
	list-style: none;
}
footer .fa{
	margin: 0 7px;
}
footer .flex div{
	line-height: 1.7;
}
.f-first{
	margin-right: 120px;
}
.f-second{
	margin-right: 145px;
}
.f-thirt{
	margin-right: 20px;
}
.btn-request a{
	padding: 7px 7px 7px 20px;
	position: fixed;
	bottom: 0;
	right: 10%;
}
.btn-request .fa{
	margin: 0 7px;
}
.hover-green:hover{
	color: rgb(56, 127, 62);
	text-decoration: underline;
}
.without{
	margin-left: 32px;
	width: fit-content;
	margin-top: 5px;
	line-height: 1 !important;
	border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1170px) {
	.logo{
		margin-right: 0;
	}
	.menu-block {
		margin-top: -40px;
	}
	.menu-block .nav>li>a {
    padding: 20px 10px;
	}
	.fa-media{
		margin: 0;
	}
	.main img{
		display: none;
	}
	.map-contact{
		margin-left: 0;
	}
	.f-first{
		margin: 0;
		width: 25%;
	}
	.f-second{
		margin-right: 20px;
	}
	.module{
		margin: 0;
	}
	.module input, select, textarea{
		width: 100% !important;
	}
	.request .btn{
		margin-top: 50px;
	}
	.article, .services{
		text-align: center;
	}
	.services li, .article li{
		margin-right: 0;
	}
	.reviews .carousel{
		margin: 0;
	}
	.lang .inline{
		display: block;
		margin-bottom: 5px;
	}
	.logo{
		padding-left: 0;
	}
	.menu-block{
		margin-top: 0 !important;
	}
	.sosial{
		display: flex;
	    position: absolute;
	    margin-top: -50px;
	    margin-left: -110px;
	}
	.contact.u{
		width: 26% !important;
	}
}
@media screen and (max-width: 1025px) {
	.menu{
		margin-left: 0;
	}
	.menu-block{
		margin-top: -20px;
	}
}
/*mobile*/
@media screen and (max-width: 758px) {
	iframe,
	.f-second,
	.f-thirt,
	.carousel-indicators,
	.main img,
	header .sosial, header .contact{
		display: none;
	}
	.map-contact{
		margin: 0;
		position: inherit;
	}
	.module{
		border: 0;
		margin: 0;
		padding: 55px 0 0;
	}
	.module__top:before, .module__top:after {
	border-top: 0;
	}
	.form-group input, select, textarea{
		width: 100% !important;
	}
	.request{
		background-size: cover;
	}
	.btn-request a{
		right: auto;
	}
	.f-first{
		margin-right: 15px;
	}
	.reviews{
		padding-bottom: 100px;
    	background-size: cover;
	}
	.reviews .carousel{
		margin: 0;
	}
	.reviews .carousel .item {
		margin: 0 25px;
	}
	.reviews .carousel-control{
		top:50%;
	}
	.services li, .article li{
		margin-right: 0;
		width: auto;
		text-align: center;
		display: block;
	}
	.services .container, .article .container{
		padding: 0;
	}
	.main .item {
	    margin: 65px 30px;
	}
	header .inline{
		display: block;
		margin-bottom: 5px;
	}
	#ShowLang{
		display: none;
		position: absolute;
		z-index: 1;
	}
	.logo{
		padding: 0;
	}
	.logo img{
		width: 100px;
	}
	.navbar-collapse{
		padding: 0;
	}
	.menu-block{
	    position: absolute;
	    top: 100px;
	    width: 70%;
	    right: 0;
	    float: right;
	    z-index: 70;
	    background: white;
	    border: 0;
	}
	.mobile-menu{
		display: flex;
		margin-left: 41%;
	}
	.lang i{
		display: inline;
		margin-left: 5px;
	}
	.lang img{
		display: inline;
	}
	.lang{
		margin-bottom: 0;
		height: fit-content;
	}
	.navbar-header{
		height: fit-content;
	    position: relative;
	    top: -15px;
	    left: 5px;
	}
	header{
		border: 0;
		margin-bottom: -35px;
	}
	.mobile-contact{
		display: block;
	}
	.mobile-contact .nav-tabs>li>a{
		margin: 0;
	}
	.mobile-contact .tab-content{
		padding: 0;
		text-align: center;
	}
	.mobile-contact .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		color: rgb(56, 127, 62);
		border-bottom: 1px solid rgb(56, 127, 62);
		background: transparent;
	}
	.mobile-contact .nav>li>a {
	    padding: 0;
	    margin: 0 15px;
	}
	.mobile-contact ul{
		margin-top: -35px;
    	margin-left: 36%;
    	margin-bottom: 20px;
	}
	.mobile-contact .nav-tabs>li>a {
    	color: rgb(11, 103, 165);
    }
}