 @font-face {
  font-family: 'FontAwesome'; 
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.svg);
  src: url(../fonts/fontawesome-webfont.ttf); 
  src: url(../fonts/fontawesome-webfont.woff);
  src: url(../fonts/fontawesome-webfont.woff2);
  src: url(../fonts/FontAwesome.otf);
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(../fonts/MyriadPro-Regular.eot);
  src: url(../fonts/MyriadPro-Regular.eot?#iefix);
  src: url(../fonts/MyriadPro-Regular.woff);
  src: url(../fonts/MyriadPro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/Roboto-Medium.ttf);
}
body{
  font-family: 'MyriadPro-Regular';
}
header{
  background: #030303;
}
header .logo{
  margin-bottom: -33px;
  z-index: 100;
  position: relative;
}
.contacts{
  display: flex;
  padding-top: 10px;
}
.contact a, .shipping{
  color: #ffffff;
  padding-top: 25px;
}
.contact a{
  font-size: 18px;
}
.contact a:hover{
  text-decoration: none;
}
.shipping span{
  color: rgb(133, 175, 22);
  text-transform: uppercase;
}
.contact{
  margin-left: 60px;
}
.contact i{
  color: rgb(133, 175, 22);
  padding-right: 20px;
}
.contact i.fa-whatsapp{
  color: #17950d;
}
header .request-call {
  margin-top: 10px;
  margin-left: 40px;
}
.request-call {
  border-radius: 6px;
  background-color: rgb(133, 175, 22);
  width: 171px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 50px;
  padding-top: 10px;
  font-size: 17px;
  text-align: center;
}
.menu{
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1;
}
.navbar{
  margin-left: 95px;
  margin-bottom: 0;
  margin-top: 5px;
}
.nav>li>a:before {
  content: "• ";
  color: #747474;
  display: inline-block;
  padding-right: 20px;
}
.nav>li>a:hover:before {
  display: none;
}
.nav>li>a{
  color: #747474;
  font-size: 16px;
}
.nav>li>a:hover{
  background: transparent;
  color: #030303;
  font-size: 18px;
  font-weight: bold;
}
.icon-bar{
  background: #828386;
}
.search{
  width: 18%;
  margin-right: 90px;
  margin-top: 10px;
}
.form-control{
  height: 40px;
  background: #ffffff;
}
.input-group-addon{
  background: #ffffff;
}
.input-group .form-control{
  border-right: 0;
}
.fa-search{
  font-size: 19px;
  color: #828386;
}
.main{
  margin-top: -65px;
}
.fa-angle-right, .fa-angle-left{
  font-size: 50px;
  color: #ffffff;
}
.fa-angle-right:hover, .fa-angle-left:hover{
  color: rgb(133, 175, 22);
}
.carousel-control{
  top: 50%;
  width: 10%;
}
.carousel-caption{
  text-align: left;
  text-transform: uppercase;
  line-height: 2px;
  bottom: 20%;
  left: 15%;
}
.carousel-caption h3{
  font-size: 36px;
}
.main .request-call{
  margin-top: 20px;
  padding-top: 25px;
}
.catalog{
  padding-top: 30px;
}
.catalog .title {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
}
.panel-group {
  width: 300px;
}
.panel-title a{
  text-decoration: none;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-color: rgb(133, 175, 22);
}
.panel-body{
  padding: 0;
}
.panel-body ul{
  padding-top: 30px;
}
.panel-body::before {
  content: ''; 
  position: absolute;
  border: 20px solid transparent;
  border-top: 10px solid rgb(133, 175, 22);
 }
.panel-body li{
  font-size: 16px;
  color: #797979;
  line-height: 1.5;
}
.panel-body li:hover{
  color: rgb(133, 175, 22);
}
.table{
  width: 90%;
  margin-left: 50px;
}
thead th{
  color: rgb(133, 175, 22);
  font-size: 16px;
  font-weight: normal;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle;
}
.table>tbody>tr>td:first-child{
  width: 25%;
}
.pagination {
  position: relative;
  left: 50%;
}
.pagination a {
  color: #797979;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}
.pagination i{
  color: rgb(133, 175, 22);
}
.pagination a.active, .pagination a:hover {
  color: rgb(133, 175, 22);
  font-size: 20px;
}
.about{
  display: flex;
}
.about .title{
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 25px 0;
}
.about .text{
  padding-left: 50px;
  padding-right: 100px;
}
.about .text p {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}
.about .request-call{
  margin: auto;
}

footer{
  background: #030303;
  padding-top: 30px;
  padding-bottom: 10px;
}
.social{
  color: #ffffff;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}
.social i{
  padding: 5px;
}
.copyright{
  color: #ffffff;
  text-align: center;
}
.copyright i{
  padding-right: 10px;
}












