@media (max-width: 768px){
    .main{
    margin-top: 0;
    margin-bottom: 0;
    }
	.address {
    margin-left: 0;
    } 
    #stages .item{
    	margin: 3px 0;
    }
    #stages .row{
    	width: 100%;
    }
    .p-l, .p-m{
    	padding: 0;
    }
    .nav>li>a{
        padding: 15px 10px;
    }
    #advantage .row, #contact .row{
        width: 100%;
    }
    #advantage .item{
        margin-left: 0;
    }
    .nav>li:hover{
        border-bottom: 0;
    }
    .nav>li {
        height: auto;
    }

}
@media (max-width: 540px){
    .logo {
    margin-left: 30%;
    }
	#advantage .advantage{
		display: block;
	}
	.contact-us{
		margin-left: 25%;
	}
	.contact {
    margin-right: 25%;
    margin-top: 10px;
	}
    #stages .item .btn{
        padding: 14px 5px;
    }
    #about .text{
        margin: 0 10px;
    }
    #advantage .text{
        padding-top: 35px;
    }
    #cost .item{
        margin: 0 0 20px;
    }
}