 /*red #fd3838*/
 /*text grey #81868e*/
 @font-face {
  font-family: 'FontAwesome'; 
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.svg);
  src: url(../fonts/fontawesome-webfont.ttf); 
  src: url(../fonts/fontawesome-webfont.woff);
  src: url(../fonts/fontawesome-webfont.woff2);
  src: url(../fonts/FontAwesome.otf);
}
@font-face{
  font-family: "LatoLight"; /* Имя шрифта */
  src: url('../fonts/LatoLight/LatoLight.eot'); /* Путь к файлу со шрифтом */
  src: url('../fonts/LatoLight/LatoLight.ttf'); /* Путь к файлу со шрифтом */
  src: url('../fonts/LatoLight/LatoLight.woff'); /* Путь к файлу со шрифтом */
 }
 @font-face{
  font-family: "LatoRegular"; /* Имя шрифта */
  src: url('../fonts/LatoRegular.ttf'); /* Путь к файлу со шрифтом */
  src: url('../fonts/LatoRegular.eot'); /* Путь к файлу со шрифтом */
  src: url('../fonts/LatoRegular.woff'); /* Путь к файлу со шрифтом */
 }
 body{
    font-family: "LatoRegular";
    
 }
header{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
  z-index: 10;
  position: relative;
}
a, a:hover{
  text-decoration: none;
}
.logo{
  margin-left: 10px;
}
.icon-bar{
  background: #5a5479;
}
.contact-us{
  margin-left: 190px;
  margin-top: 10px;
}
.contact-us a{
  padding: 14px 35px;
  font-size: 16px;
  text-transform: uppercase;
}
.btn, .btn:hover{
  background: #fd3838;
  color: #fff;
  padding: 14px 35px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0px 2px 3px 0px rgba(159, 6, 6, 0.75);
  border-radius: 0;
}
.contact a{
  color: #81868e;
}
.contact i{
  color: #fd3838;
  padding-right: 20px;
}
.contact .phone{
  padding-left: 30px;
}
.main{
  background: url(../img/main.png) no-repeat;
  margin-top: -100px;
  margin-bottom: -75px;
  padding: 17% 0 19%;
}
.main h1{
  color: #fff;
  font-size: 65px;
  padding-left: 20%;
  margin: 0;
/*  font-family: "Lato";*/
}
.menu{
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  position: relative;
}
.navbar{
  margin-bottom: 0;
  border:0;

}
.p-l{
  padding-top: 15px;
}
.p-m{
  padding-top: 10px;
}
.nav>li>a{
  text-align: center;
  color: #000000;
  line-height: 0.9;
  font-weight: bold;
  font-family: "LatoLight";
  font-size: 18px;
  padding: 15px 35px;
}
.nav>li{
  height: 75px;
}
.nav>li:hover{
  border-bottom: 10px solid #5a5479;
}
.nav>li>a:hover{
  font-weight: bold;
  color: #fd3838;
  text-transform: uppercase;
  background: transparent;
}
#about{
  background-size: cover;
  color: #000000;
  font-weight: bold;
  background: url(../img/bg.png);
}

#about h2{
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
#about p{
  font-size: 16px;
}
#about .text{
  margin-left: 5%;
}
 #advantage .row, #contact .row{
  width: 80%;
  margin: auto;
}
#stages .row{
  width: 77%;
  margin: auto;  
}
#about .btn{
  margin-top: 20px;
  margin-bottom: 15%;
}
#advantage{
  background: url(../img/bg-advantage.png);
  padding-bottom: 6%;
}
#advantage .col{
  width: 50%;
}
#advantage .item{
  margin-bottom: 5px;
  margin-left: 15%;
  display: flex;
}
#advantage .text{
  font-size: 16px;
  /*font-family: "Lato";*/
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.222;
  padding-top: 60px;
  padding-left: 40px;
}
#stages{
  background: url(../img/bg.png);
  padding-top: 40px;
}
#stages .title{
  padding-top: 0;
}
#stages .item{
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  /*font-family: "Lato";*/
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin: 3px 40px;
  padding: 16px;
}
#stages .item:hover{
  box-shadow: -8px 0 0 #5a5479;

}
#stages .item .btn{
  background: #5a5479;
  box-shadow: none;
}
#stages .item .btn:hover{
  background: #fd3838;
}
#stages .number{
  width: 4%;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
#stages .text{
  width: 80%;
  padding-top: 15px;
  padding-left: 20px;
}
#cost{
  background: url(../img/bg.png);
}
#cost .title{
  padding: 110px 0 80px;
}
#cost .item{
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 20px;
  padding: 20px 0 20px 35px;
}
#cost .item p{
  font-size: 16px;
  /*font-family: "Lato";*/
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 10px;
}
#cost img{
  width: 90%;
}
#cost .btn{
  margin-top: 15px;
  padding: 8px 18px;
  border:0;
}
#cost .btn.first{
  margin-top: 40px;
}
#stages .item, #cost .items, #cost .item{
  display: flex;
}
#our-work{
  padding-bottom: 50px;
  background: url(../img/bg.png);
}
#our-work .title{
  padding-top: 60px;
}
.title{
  font-size: 30px;
  /*font-family: "Lato";*/
  color: rgb(0, 0, 1);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
}
.carousel-inner{
  width: 80%;
  margin: auto;
}
.carousel-control{
  background-image: none !important;
  top: 40%;
}
.carousel-control i{
  font-size: 60px;
  color: #5a5479;
}
.carousel-control.right i{
  padding-right: 20px;
}
.carousel-control.right i{
  padding-left: 20px;
}
#contact{
  background: url(../img/bg-contact.png);
  padding-top: 50px;
  padding-bottom: 20px;
}
#contact .input-group{
  margin:auto;
}
#contact .form-control{
  background: transparent;
  width: 250px;
  height: 40px;
  margin-bottom: 15px;
}
#contact form{
  text-align: center;
}
#contact button{
  height: 40px;
  width: 160px;
}
.address{
  margin-left: 150px;
}
#contact p{
  font-size: 16px;
  /*font-family: "Lato";*/
  color: rgb(255, 255, 255);
  line-height: 1.25;
  opacity: 0.8;
}

footer{
  padding-top: 15px;
  background: url(../img/bg.png);
}
.copyright{
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 3.875;
  text-align: center;
  padding-top: 10px;
}








