.flower_01_f_tsr {

  .item {
    margin-bottom: 25px;

    &:hover {

      &:hover {

        .image__link img {
          @include transform(scale(1.07));
        }
      }
    }
  }
  .image__link {
    display: block;
    overflow: hidden;
    text-decoration: none;

    img {
      @include transition(all 0.7s ease);
    }
  }

  .text__box {
    height: 190px;
    padding: 20px;
    background-color: #fafafa;
  }

  .title {
    font-family: $gothamProMed;
    color: $red;
  }
}

@media screen and (max-width: 959px) {

  .flower_01_f_tsr {

    .text__box {
      height: 180px;
    }
  }
}

@media screen and (max-width: 640px) {

  .flower_01_f_tsr {

    .text__box {
      height: 230px;
    }
  }
}

@media screen and (max-width: 440px) {

  .flower_01_f_tsr {

    .col.t6 {
      width: 100%;
    }
    .text__box {
      height: auto;
    }
  }
}
