.pageheader__slider {

  .box__text_pink {
    position: relative;
    z-index: 2;
    top: 30px;
    width: 340px;
    height: 340px;
    padding: 60px;
    margin: 0 auto;
    background-color: $red;
    @include border-radius(50%);
    
    .discount {
      line-height: 45px;
      font-family: $gothamProLight;
      font-size: 50px;
    }
    .number {
      line-height: 60px;
      font-size: 60px;
    }
    .btn.simple {
      color: #fff;
      border-color: #fff;
    }
  }

  .box__text_purple {
    position: relative;
    z-index: 1;
    top: -190px;
    width: 340px;
    height: 340px;
    line-height: 15px;
    padding: 285px 30px 20px;
    margin: 0 auto;
    font-size: 10px;
    color: #d78eb6;
    background-color: #b81870;
    @include border-radius(50%);

  }

  .box__text {
    padding-top: 80px;
    color: $red;

    .title {
      line-height: 40px;
      padding-bottom: 20px;
      font-family: $gothamProLight;
      font-size: 40px;
      border-bottom: 1px solid $red;
    }
    .text_bottom {
      line-height: 30px;
    }
  }
  .box__text_mob {
    padding-top: 50px;
    color: $red;

    img {
      float: left;
      margin-top: 7px;
    }

    .title {
      line-height: 30px;
      font-family: $gothamProLight;
      font-size: 28px;
    }
    .text_bottom {
      line-height: 16px;
    }
  }
}



@media screen and (max-width: 640px) {
  .pageheader__slider {

    .box__text_pink {
      top: 85px;
    }
  }

}

@media screen and (max-width: 480px) {

  .pageheader__slider {

    .box__text_pink {
      top: 120px;
      width: 280px;
      height: 280px;
      padding: 30px;
    }
    .box__text_purple {
      top: -105px;
      width: 280px;
      height: 280px;
      line-height: 12px;
      padding: 232px 30px 20px;
    }

    .box__text_mob {
      padding-top: 50px;
      color: $red;

      img {
        margin-right: 5px;
      }

      .title {
        font-size: 20px;
      }
      .text_bottom {
        font-size: 12px;
      }
    }
  }
}