.fadeIn {
  -o-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  animation: fadeIn linear 0.5s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
.slideInRight {
  -o-animation: slideInRight linear 0.5s;
  -moz-animation: slideInRight linear 0.5s;
  -webkit-animation: slideInRight linear 0.5s;
  animation: slideInRight linear 0.5s; }

@keyframes slideInRight {
  0% {
    visibility: visible;
    -ms-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -o-animation: slideInLeft linear 0.5s;
  -moz-animation: slideInLeft linear 0.5s;
  -webkit-animation: slideInLeft linear 0.5s;
  animation: slideInLeft linear 0.5s; }

@keyframes slideInLeft {
  0% {
    visibility: visible;
    -ms-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInDown {
  -o-animation: fadeInDown linear 0.2s both;
  -moz-animation: fadeInDown linear 0.2s both;
  -webkit-animation: fadeInDown linear 0.2s both;
  animation: fadeInDown linear 0.2s both; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  100% {
    opacity: 1;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none; } }
.fadeInLeft {
  -o-animation: fadeInLeft ease-in-out 0.2s both;
  -moz-animation: fadeInLeft ease-in-out 0.2s both;
  -webkit-animation: fadeInLeft ease-in-out 0.2s both;
  animation: fadeInLeft ease-in-out 0.2s both; }

@keyframes fadeInLeft {
  0% {
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(-50px, 0, 0);
    -moz-transform: translate3d(-50px, 0, 0);
    -webkit-transform: translate3d(-50px, 0, 0);
    -o-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0); }
  100% {
    z-index: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none; } }
.spinner {
  -o-animation: spinnerHide 3s linear infinite;
  -moz-animation: spinnerHide 3s linear infinite;
  -webkit-animation: spinnerHide 3s linear infinite;
  animation: spinnerHide 3s linear infinite; }

@-webkit-keyframes spinnerHide {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  25% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  75% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes spinnerHide {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  25% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  75% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-o-keyframes spinnerHide {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  25% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  75% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes spinnerHide {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  25% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  75% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
.menuShowInLeft {
  -o-animation: menuShowInLeft linear 0.5s;
  -moz-animation: menuShowInLeft linear 0.5s;
  -webkit-animation: menuShowInLeft linear 0.5s;
  animation: menuShowInLeft linear 0.5s; }

@keyframes menuShowInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(-20%, 0, 0);
    -moz-transform: translate3d(-20%, 0, 0);
    -webkit-transform: translate3d(-20%, 0, 0);
    -o-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.menuCloseOutRight {
  -o-animation: menuCloseOutRight linear 0.5s;
  -moz-animation: menuCloseOutRight linear 0.5s;
  -webkit-animation: menuCloseOutRight linear 0.5s;
  animation: menuCloseOutRight linear 0.5s; }

@keyframes menuCloseOutRight {
  0% {
    visibility: visible;
    /*@include opacity(1);*/
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }
.blink {
  -o-animation: blink linear 1s;
  -moz-animation: blink linear 1s;
  -webkit-animation: blink linear 1s;
  animation: blink linear 1s; }

@keyframes blink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
.rotateInfinite {
  -o-animation: rotateInfinite 1s linear infinite;
  -moz-animation: rotateInfinite 1s linear infinite;
  -webkit-animation: rotateInfinite 1s linear infinite;
  animation: rotateInfinite 1s linear infinite; }

@keyframes rotateInfinite {
  0% {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.pageheader__slider .box__text_pink {
  position: relative;
  z-index: 2;
  top: 30px;
  width: 340px;
  height: 340px;
  padding: 60px;
  margin: 0 auto;
  background-color: #c60c30;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .pageheader__slider .box__text_pink .discount {
    line-height: 45px;
    font-family: "gothamprolight";
    font-size: 50px; }
  .pageheader__slider .box__text_pink .number {
    line-height: 60px;
    font-size: 60px; }
  .pageheader__slider .box__text_pink .btn.simple {
    color: #fff;
    border-color: #fff; }
.pageheader__slider .box__text_purple {
  position: relative;
  z-index: 1;
  top: -190px;
  width: 340px;
  height: 340px;
  line-height: 15px;
  padding: 285px 30px 20px;
  margin: 0 auto;
  font-size: 10px;
  color: #d78eb6;
  background-color: #b81870;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
.pageheader__slider .box__text {
  padding-top: 80px;
  color: #c60c30; }
  .pageheader__slider .box__text .title {
    line-height: 40px;
    padding-bottom: 20px;
    font-family: "gothamprolight";
    font-size: 40px;
    border-bottom: 1px solid #c60c30; }
  .pageheader__slider .box__text .text_bottom {
    line-height: 30px; }
.pageheader__slider .box__text_mob {
  padding-top: 50px;
  color: #c60c30; }
  .pageheader__slider .box__text_mob img {
    float: left;
    margin-top: 7px; }
  .pageheader__slider .box__text_mob .title {
    line-height: 30px;
    font-family: "gothamprolight";
    font-size: 28px; }
  .pageheader__slider .box__text_mob .text_bottom {
    line-height: 16px; }

@media screen and (max-width: 640px) {
  .pageheader__slider .box__text_pink {
    top: 85px; } }
@media screen and (max-width: 480px) {
  .pageheader__slider .box__text_pink {
    top: 120px;
    width: 280px;
    height: 280px;
    padding: 30px; }
  .pageheader__slider .box__text_purple {
    top: -105px;
    width: 280px;
    height: 280px;
    line-height: 12px;
    padding: 232px 30px 20px; }
  .pageheader__slider .box__text_mob {
    padding-top: 50px;
    color: #c60c30; }
    .pageheader__slider .box__text_mob img {
      margin-right: 5px; }
    .pageheader__slider .box__text_mob .title {
      font-size: 20px; }
    .pageheader__slider .box__text_mob .text_bottom {
      font-size: 12px; } }
.flower_01_f_tsr .item {
  margin-bottom: 25px; }
  .flower_01_f_tsr .item:hover:hover .image__link img {
    -ms-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07); }
.flower_01_f_tsr .image__link {
  display: block;
  overflow: hidden;
  text-decoration: none; }
  .flower_01_f_tsr .image__link img {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }
.flower_01_f_tsr .text__box {
  height: 190px;
  padding: 20px;
  background-color: #fafafa; }
.flower_01_f_tsr .title {
  font-family: "gothampromed";
  color: #c60c30; }

@media screen and (max-width: 959px) {
  .flower_01_f_tsr .text__box {
    height: 180px; } }
@media screen and (max-width: 640px) {
  .flower_01_f_tsr .text__box {
    height: 230px; } }
@media screen and (max-width: 440px) {
  .flower_01_f_tsr .col.t6 {
    width: 100%; }
  .flower_01_f_tsr .text__box {
    height: auto; } }
/* custom css-files */
#admin-menu ul::after {
  display: none; }

.tabs-nav {
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .tabs-nav .tab-name, .tabs-nav .tab-link a {
    padding: 15px 40px;
    margin: -1px;
    font-size: 14px;
    font-family: "gothampromed";
    color: #777;
    text-decoration: underline;
    border: 2px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .tabs-nav .tab-name.active, .tabs-nav .tab-link a.active {
      color: #333;
      text-decoration: none;
      border-color: #aaa; }

.product .marker.celebration {
  background-color: #c60c30; }
.product .marker.lastchance {
  background-color: #138708; }
.product .marker.discount {
  background-color: #cc0605; }
.product .marker.sale {
  background-color: #9966cc; }

/*# sourceMappingURL=custom.css.map */
