@charset "UTF-8";

@import "../../jflex/library/css/mixin";
@import "../../jflex/library/css/mixin-static";
@import "../../jflex/library/css/variables";
@import "custom-variables";

/* custom adaptive styles */

@media screen and (max-width: 640px) {

  .tab-name, .tab-link {
    width: 100% !important;
    text-align: center;
  }
  .tabs-nav {

    .tab-name {
      margin:0;
      border: 2px solid $lightGrey;
      border-top-color: transparent;
      border-bottom-color: transparent;

      + .tab-name, + .tab-link a {
        border-top: 2px solid $lightGrey;
      }

      &.first {
        border-left: 2px solid $lightGrey;
        border-top: 2px solid $lightGrey;
      }
      &.last {
        border-right: 2px solid $lightGrey;
        border-bottom: 2px solid $lightGrey;
      }
      &.active {
        color: #333;
        text-decoration: none;
        border: 2px solid $grey;
        border-bottom-color: transparent;
        @include border-radius(0);
        cursor: default;

        + .tab-name, + .tab-link a {
          border-top: 2px solid $grey;
        }
        &.last {
          border-bottom: 2px solid $grey;
        }
      }
    }
    .tab-link {

      a {
        margin:0;
        border: 2px solid $lightGrey;
        border-top-color: transparent;
        border-bottom-color: transparent;

        &.active {
          color: #333;
          text-decoration: none;
          border: 2px solid $grey;
          border-bottom-color: transparent;
          @include border-radius(0);
          cursor: default;

          + .tab-name, + .tab-link {
            border-top: 2px solid $grey;
          }
          &.last {
            border-bottom: 2px solid $grey;
          }
        }
      }

      + .tab-name, + .tab-link a {
        border-top: 2px solid $lightGrey;
      }

      &.first a {
        border-left: 2px solid $lightGrey;
        border-top: 2px solid $lightGrey;
      }
      &.last a {
        border-right: 2px solid $lightGrey;
        border-bottom: 2px solid $lightGrey;
      }
    }
    .first, .last {
      @include border-radius(0);
    }
  }

}
