/* jFlex library. Made by Jeto */
/* https://jflex.org */
/* https://jeto.org */




/* global search */

.globalsearch {
  position: relative;

  input[type="text"] {
    width: 100%;
    padding: 0 70px 0 10px;

    &:focus {
      border-color: #bbb;
    }
  }
  input[type="submit"] {
    display: block;
    position: relative;
    height: 26px;
    line-height: 24px;
    padding: 0 10px 0 25px;
    font-family: $gothamProBold;
    font-size: 13px;
    border: none;
    @include border-radius(2px);
    cursor: pointer;
  }

  .block-search {
    position: relative;
  }
  .form-actions {
    position: absolute;
    right: 2px;
    top: 2px;

    &:before {
      content: '\e631';
      position: absolute;
      top: 7px;
      left: 8px;
      z-index: 1;
      font-family: $iconsFont;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .block-title {
    position: absolute;
    left: 10px;
    top: 9px;
    z-index: 1;
    font-size: 11px !important;
    font-weight: normal;
    color: #ccc !important;
    border: none !important;
    cursor: inherit;
  }
}