@media (min-width: 1408px){
	.main{
	padding-bottom: 220px;
	}
}
@media (max-width: 368px){
	.try-free .bottom{
		width: 100%;
	}
	.try-free .you-get{
		width: 100%;
	}
	.reviews-slider .carousel-indicators{
		top: 570px;
    	left: 130px;
	}
	.report{
		height: 2900px !important; 
	}
	.prices .flex{
		width: auto;
	}
	.pricing-plan-top {
	    width: 252px !important;
	    margin-top: 10px;
	}
}
@media (max-width: 768px){
	.trust-us p{
	width: 100%;
	}
	
	.navbar-header .icon-bar{
		background: #000000;
	}
	ul.dropdown-menu{
		column-count: inherit;
	}
	header .active, header .nav > li > a:hover, header .nav > li > a:focus, header .nav .open > a, header .nav .open > a:hover, header .nav .open > a:focus{
		height: 0;
		border-top: 0;
	}
	.navbar-nav .open .dropdown-menu > li > a{
		padding: 20px;
	}
	.navbar-nav{
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.nav li{
		background: #fff;
		z-index: 10000;
		border-top: 1px solid #dbdbdb;
	}
	.navbar-nav > li a{
		padding: 20px;
	}
	header{
		height: 60px;
	}
	header .logo .form-group{
		display: none;
	}
	header .logo span {
	    font-size: 24px;
	    padding-top: 15px;
	    padding-left: 35px;
	}
	.navbar-header{
		position: relative;
    	top: -45px;
	}
	.navbar-collapse{
		background-color: #fff;
	}
	.contact-xs{
		padding: 10px 20px;
	}
	.contact-xs .btn{
		width: 100%;
		margin: 5px 0;
	}
	.main-botton h1, .main h2, .main h3, .main a, .main-botton p{
		text-align: center;
	}
	.main-botton .flex{
		display: none;
	}
	.main h2{
		font-size: 52px;
		padding-top: 30px;
	}
	.pawnshop-text .title{
		font-size: 30px;
		font-weight: bold;
	}
	.main-botton h1 {
	    font-size: 30px;
	    padding: 10px;
	    font-weight: bold;
	}
	.main-botton .item{
		margin-right: 5px;
    	margin-left: 5px;
	}
	.main-botton .item img{
		margin: auto;
	}
	.legal{
		padding: 50px 0;
	}
	.legal .head{
		padding-top: 25px;
	}
	.main-botton .carousel-indicators{
		bottom: 0;
	}
	.opportunity{
		text-align: center;
		margin-top: 40px;
		padding-bottom: 50px;
	}
	#blog ul{
		padding: 0;
	}
	.main-botton .text{
		margin-top: 0;
		text-align: center;
	}
	.main button{
		width: 100%;
	}
	.opportunity .float-right{
		float: none;
	}
	.opportunity .content{
		display: block;
	}
	.opportunity .content .img{
		margin: auto;
	}
	.opportunity .text-l, .opportunity .text-r{
		padding: 0;
		text-align: center;
		padding-top: 20px;
	}
	.box-title .text{
		width: 100%;
    	font-size: 34px;
	}
	.box-title button{
		width: 100%;
	}
	.trust-us .text{
		padding: 60px 0;
		text-align: center;
	}
	.trust-us .text .head{
		font-size: 36px;
	}
	.reviews{
		display: block;
	}
	.reviews-side{
		width: 100%;
	}
	.reviews-side .text{
		padding: 60px 0;
    	font-size: 30px;
	}
	.reviews-slider{
		width: 100%;
	}
	.title{
		font-size: 26px;
    	font-weight: bold;
	}
	.carousel-control{
		display: none;
	}
	.reviews-slider .item {
	    width: auto;
	    margin: 0 20px;
	    padding-top: 0
	}
	.reviews-slider .item .text{
		text-align: center;
		padding-top: 20px;
	}
	.all-reviews {
     display: none;
	}
	.reviews-slider .carousel-indicators{
		top: 460px;
		left: 160px;
	}
	.prices .flex{
		display: block;
	}
	.pawnshop-text{
		text-align: center;
		padding: 60px 0;
	}
	.pawnshop-text .text{
		width: auto;
	}
	.contact-us{
		display: block;
		width: auto;
	}
	.form {
	    padding: 20px 10px;
	    width: auto;
	    text-align: center;
	    height: 380px;
	}
	.link{
		width: auto;
		margin-top: 10px;
		height: 380px;
	}
	.pricing-plan-top{
		width: 248px;
		margin-top: 10px;
		display: none;
	}
	.form button{
		width: 100%;
	    margin: auto;
	    top: 10px;
	    position: relative;
	}
	footer{
		text-align: center;
	}
	footer p{
		font-size: 20px;
	}
	footer p.copyright{
		font-size: 13px;
	}
	.blog-social{
		display: none;
	}
	.blog-article img, .report-bottom img, .chart img, .legal img{
		width: 100%;
	}
	.we-get .flex, .capabilities .flex, .document-flex, .security .flex-bottom, .report-flex, .report-bottom, .flexibility .flex{
		display: block;
	}
	.we-get .flex{
		float: none;
	}
	.we-get .flex.float-right{
		margin-top: 50px;
	}
	.try-free .you-get{
		padding: 10px;
	    margin: auto;
	    height: 180px;
	}
	.learn-more-garantee{
		margin: 15px 0;
	}
	.we-get .picture{
		margin: 30px 40px 0;
	}

	.try-free .you-get .head{
		font-size: 30px;
    	text-align: center;
	}
	.form-order .input-group, .picture-report img, .try-free .form-block, .try-free .input-group, .try-free button, .document-bottom, .document-flex img, .picture-security img, .picture-document img{
		width: 100%;
	}
	.try-free .form-block .title{
		font-size: 30px;
    	font-weight: 700;
	}
	.report .text-top, .document .text-top{
		margin: 0;
		text-align: center;
	}
	.we-get, .document .text-top .head, .security, .security .head, .report .head, .report p.function-pbold{
		text-align: center;
	}
	.document .content{
		margin-left: 0;
	}
	.security .flex-bottom .picture, .security .flex-bottom .text{
		padding: 0;
		border: 0;
	}
	.report{
		height: 2570px;
		padding-top: 0;
	}
	.picture-report{
		padding: 30px 0;
	}
	.report p.function-pbold{
		padding-top: 20px;
		padding-bottom: 0;
	}
	.report-bottom .text{
		margin: 0;
		text-align: center;
		padding: 10px 0;
	}
	.flexibility .picture, .flexibility .text, .chart{
		padding: 0;
	}
	.flexibility, .chart, .branch, .legal, .prices-bottom, .support{
		text-align: center;
	}
	.flex-flexibility, .flex-flexibility2, .text-flexibility.text-flexibility3 {
    	padding-bottom: 0;
	}
	.flexibility .text{
		margin: 20px 0;
	}
	.we-get .text{
		margin-right: 0;
	}
	.mt {
    margin-top: 30px;
    margin-bottom: -15px
    }
    .calc-left.price3 .btn{
    	margin-top: 0;
    }
	.calc{
		padding: 50px 0;
	}
	.prices-bottom{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.prices-bottom .head{
		font-size: 35px;
    	padding-top: 50px;
	}
	.prices-bottom .flex{
		display: block;
	}
	.prices-bottom .btn{
		width: 100%;
		margin-right: 0;
		margin-top: 10px;
	}
	.calc .nav-tabs{
		width: 100%;
	}
	#contact{
		padding-top: 35px;
		padding-bottom: 25px;
	}
	#contact .title {
    font-size: 35px;
    padding-bottom: 15px;
	}
	.prices-bottom .btn.call{
		padding: 12px;
	}
	.prices-bottom .text{
		padding-bottom: 0;
	}
	.calc-right{
		display: none;
	}
	.subscribe form, .calc button, .calc-left, .support .btn-support, .support-bottom .text-center, .support-4col .text{
		width: 100%;
	}
	.order .description{
		display: block;
		width: 100%;
	}
	.order .content{
		display: inline-flex;
		width: 100%;
		margin: 10px 0;
	}
	.document .picture-bottom{
		padding-bottom: 30px;
	}
	.security hr{
		margin: 0;
	}
	.order .img{
		margin: 0 10px;
	}
	.pay{
		padding: 25px 15px;
		margin-top: 30px;
	}
	.subscribe {
    	padding: 80px 0;
	}
	.blog-article {
    padding: 40px 10px;
    text-align: center;
	}
	.support{
		padding-top: 0;
	}
	.support-conditions .support-head{
		padding-top: 50px;
	}
	.support-head{
		padding-top: 40px;
	}
	.support-m{
		margin-top: 40px;
	}
	.order .text{
		margin-top: 40px;
    	margin-left: 30px;
	}
	.checkout{
		padding-top: 0;
	}
	.tariff{
		padding-bottom: 50px;
	}
	.checkout .radio{
		padding: 10px 20px;
	}
	.mt-p{
		margin-top: -15px;
    	margin-bottom: 20px;
	}
	.capabilities{
		text-align: center;
	}
	.capabilities-bottom .btn{
		width: 100%;
	}
	.capabilities-bottom .head{
		font-size: 26px;
	}
	.capabilities .content{
		width: 100%;
		padding-bottom: 0;
	}
	.capabilities .text-side{
		padding: 0;
	}
	.opportunity .text{
		padding: 20px 10px 40px;
	}
	.connect{
		display: none;
	}
	.p-xs{
		padding-bottom: 40px;
	}
}