@font-face {
	font-family: 'Lato';
	src: url(/fonts/Lato-Regular.ttf);
}
body{
	font-family: 'Lato';
}
.green{
	color: #1bb258;
}

header, .navbar-fixed-top{
	height: 80px;
	background: #ffffff;
  	box-shadow: 0px 2px 11px rgba(69,77,73,0.28);
}

.logo img{
	padding-right: 10px;
	padding-top: 15px;
}
header select.form-control{
	border: 0;
	box-shadow: none;
	color: #303030;
	font-size: 14px;
	padding: 0;
	height: auto;
	padding-left: 5px;
}
header .menu{
	padding-left: 40px;
}
header .logo span{
	color: #c7c7c7;
}
header .logo .form-group{
	padding-top: 2px;
}
ul.dropdown-menu{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style-type: none;
	padding: 20px 0;
}
ul.dropdown-menu > li {
	border-right: 1px solid #dcdcdc;	
}
.navbar-nav > li a{
	color: #303030;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	padding: 30px 20px;
}
header .nav > li > a:hover, header .nav > li > a:focus, header .nav .open > a, header .nav .open > a:hover, header .nav .open > a:focus, header .dropdown-menu{
	 background: #fbfbfb;
	box-shadow: 0px 2px 6px #cecece;
	border: 0;
}
.dropdown-menu > li > a{
	color: #1e1e1e;
	font-weight: 700;
	padding: 10px 20px;
}
.m-t{
	margin-top: -10px;
}
.dropdown-menu > li > a:hover{
	color: #1bb258;
	background: none;
}
.contact{
	padding-top: 25px;
	padding-left: 30px;
}
.contact a, .main a, .box-title a{
	color: #200c00;
	font-family: Lato;
	font-size: 18.0px;
	font-weight: 500;
}
.btn{
	padding: 6px 8px;
	font-weight: bold;
}
.try{
	border-radius: 1px;
  	background: #ffcb00;
}
.call{
	background: #0ebc6c;
	border-radius: 1px;
	margin-right: 10px;
}
.main{
	background: #0ebc6c;
	padding-bottom: 120px;
}
h2{
	color: #fffefe;
	font-family: 'Lato';
	font-size: 65px;
	font-weight: 500;
	padding-top: 55px;
	line-height: 0.8;
}
h3{	 
	font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.2;
}
.main .btn{
	padding: 8px 20px;
}
.main-botton .text p{
	padding-bottom: 10px;
    font-size: 16px;
}
.main-botton .text p.p-b{
	padding-bottom: 35px;
}
.main-botton .text p.p-t-b{
	padding-top: 20px;
    padding-bottom: 30px;
}
.main-botton h1{
	font-size: 50px;
	padding-top: 20px;
    padding-bottom: 30px;
}
.main h3{
	color: #fffefe;
}
.fa-phone{
	transform: rotate(100deg);
}
.pawnshop-text{
	background: #f8f8f8;
	padding: 120px 0;
}
.pawnshop-text .title{
	color: #1e1e1e;
	font-family: Lato;
	font-size: 55px;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
}
.pawnshop-text p{
	color: #1e1e1e;
	font-family: Lato;
	font-size: 16px;
}
.pawnshop-text .text{
	overflow-y: scroll;
	width: 83%;
    margin: auto;
}
.flex{
	display: flex;
}
.title{
	color: #1e1e1e;
	font-size: 50px;
	text-align: center;
}
.main-botton{
	margin-top: 55px;
}
.main-botton .text{
	margin-top: 40px;
}
.main-botton .read-more{
	text-align: center;
    padding: 21px;
}
.main-botton .item a{
	color: #292929;
	font-size: 18px;
}
.main-botton .item{
	background: #ffffff;
	box-shadow: 0px 0px 6px rgba(137,137,137,0.31);
	margin-bottom: 30px;
	margin-right: 30px;
}
.colom1{
	position: relative;
    top: -80px;
}
.learn-more{
	text-transform: uppercase;
	color: #1bb258;
	font-weight: 400;
}
.learn-more .circle{
	background: #1bb258;
}
.learn-more:hover{
	text-decoration: none;
	color: #1bb258;
}
.learn-more.text{
	font-size: 17px;
}
.learn-more.text .circle{
	padding: 5px 5px 4px;
	margin-left: 10px;
}
.circle{
	padding: 3px 3px 2px;
    border-radius: 10px;
    background: #292929;
    font-size: 8px;
    color: #ffffff;
    margin-left: 5px;
    vertical-align: middle;
}
.opportunity{
	background: #f8f8f8;
	padding-top: 40px;
    padding-bottom: 130px;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.opportunity .title{
	padding-bottom: 45px;
}
.opportunity .content{
	padding-bottom: 25px;
}
.img{
	background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.07);
	border-radius: 50px;
    padding: 25px;
}
.opportunity .text-l{
	padding-top: 25px;
    padding-right: 20px;
}
.opportunity .text-r{
	padding-top: 25px;
    padding-left: 20px;
}
.opportunity .head{
	color: #1e1e1e;
	font-family: Lato;
	font-size: 20px;
	font-weight: 700;
	line-height: 0.9;
}
.opportunity .desc{
	color: #1e1e1e;
	font-family: Lato;
	font-size: 15px;
}
.opportunity .bottom{
	padding-top: 30px;
	font-size: 17px;
}
.opportunity .circle{
	margin-left: 10px;
    padding: 4px 6px;
    position: relative;
    top: -3px;
}
.box-title{
	background: #000000;
	padding: 30px 0;
}
.box-title .text{
	font-size: 42px;
    width: 70%;
    margin: auto;
    color: white;
    line-height: 1;
    padding-bottom: 30px;
}
.box-title .btn{
	padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
}
.trust-us .head, .prices-bottom .head{
	font-size: 55px;
    line-height: 0.9;
    padding-bottom: 35px;
}
.trust-us .text{
	padding-top: 250px;
	padding-bottom: 250px;
}
.reviews-side{
	background: grey;
    width: 43%;
}
.reviews-side .text{
	font-size: 45px;
	line-height: 0.9;
	padding-top: 190px;
    padding-bottom: 210px;
}
.reviews-slider{
	width: 58%;
    padding-top: 55px;
}
.reviews-slider .read-more .circle {
    background: #1bb258;
}
.reviews-slider .read-more{
	padding-top: 10px;
}
.reviews-slider .item{
	width: 73%;
    margin: auto;
    padding-top: 55px;
}
.reviews-slider .item img{
	padding: 0;
	vertical-align: top;
}
.reviews-slider .title .head{
	font-size: 17px;
	line-height: 0.8;
	text-align: left;
}
.reviews-slider .title .desc{
	font-size: 16px;
}
.carousel-control{
	background-image: none !important;
}
.carousel-control span{
	background:  #ededed;
    padding: 8px 10px;
    border-radius: 60px;
    position: relative;
    top: 50%;
    font-size: 16px;
}
.carousel-indicators .active{
	background-color: #1bb258;
}
.carousel-indicators .slide{
	background-color:  #ededed;
}
.carousel-indicators {
    position: relative;
    top: 410px;
    left: 120px;
    bottom: 10px;
    width: auto;
}
.all-reviews{
	top: 410px;
    position: relative;
    right: 100px;
}
.prices{
	background: #f8f8f8;
	padding-top: 65px;
	padding-bottom: 65px;
}
.prices .title{
	padding-bottom: 40px;
}
.prices .flex{
	width: 78%;
	margin: auto;
}
.pricing-plan{
	background: #ffffff;
	box-shadow: 0px 0px 7px rgba(135,135,135,0.21);
	padding: 40px 60px;
	margin: 10px;
	margin-top: 0;
}
.pricing-plan .item{
	padding-top: 50px;
}
.pricing-desc{
	padding: 10px 0;
}
.pricing-choose a{
	color: #200c00;
	font-weight: 700;
	margin-top: 25px;
    padding: 8px 40px;
}
.pricing-plan li{
	font-size: 12px;
}
.pricing-plan li.pricing-title{
	font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}
.pricing-plan li.pricing-price{
	font-size: 28px;
    font-weight: bold;
}
.pricing-plan-top{
    background-color: #1bb258;
    margin-top: -20px;
    margin-left: 10px;
    width: 274px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px 0;
}
.pricing-best{
	border: 1px solid #1bb258;
}
#blog{
	padding: 50px 0;
}
#blog .text:hover{
	color: #1bb258;
	text-decoration: underline;
}
#blog hr{
	margin-top: 0;
}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 8px 12px;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    background: #ededed;
    color: #fff;
    margin-right: 10px;
}
#blog .title{
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
}
#blog .date{
	color: #d9a608;
}
#blog .head{
	font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.1;
}
.thumbnail {
    padding: 0;
}
#contact{
	background: rgba(10,10,10,0.6);
	padding-top: 55px;
	padding-bottom: 100px;
}
#contact .title{
	color: #ffffff;
	font-size: 55px;
    padding-bottom: 30px;
}
.contact-us{
	width: 70%;
    margin: auto;
}
.social{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 15px;
}
.social span{
    background: #139747;
    border-radius: 20px;
    color: #ffffff;
    margin: 5px;
}
.social span.f{
	padding: 10px 15px;
}
.social span.t{
	padding: 10px 12px;
}
.social span.g{
	padding: 10px;
}
.form{
	background: #f9f9f9;
	padding: 40px;
	width: 58%;
}
.form-group {
    margin-bottom: 8px;
}
.form button{
	font-weight: 700;
	color: #ffffff;
	margin-top: 10px;
	padding: 8px 40px;
}
.link button{
	font-weight: 700;
	color: #200c00;
	margin-top: 10px;
	padding: 6px 30px;
}
.form p, .contact p, .contact span{
	color: #7c7c7c;
	font-family: Lato;
	font-size: 16px;
}
.contact span{
	padding-right: 10px;
}
.contact div{
	color: #1e1e1e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}
.contact div:hover{
	color: #139747;
}
.link{
	background: #ffffff;
	padding-top: 20px;
	width: 41%;
}
#contact .contact{
	padding-left: 0;
}
footer{
	background: #000000;
	padding-top: 10px;
}
li{
	list-style: none;
}
footer p{
	color: #979797;
	font-size: 12px;
	padding-top: 20px;
}
footer p.copyright{
	color: #4d4d4d;
	font-size: 8px;
}
footer a{
	color: #fffefe;
	font-family: Lato;
	font-size: 16.0px; 
}
footer a:hover{
	color: #fffefe;
	text-decoration: none;
}
footer a.title, footer a.title:hover{
	font-size: 14px;
	font-weight: 400;
	color: #fffefe;
	text-align: left;
}
footer a.title li{
	padding-bottom: 5px;
	padding-top: 20px;
}
footer a.footer-menu{
	color: #fffefe;
	font-size: 12px;
}
footer a.footer-menu li{
	padding: 5px 0;
}
.try-free .form-block{
	width: 50%;
    margin: auto;
    padding-top: 45px;
    margin-bottom: 70px;
}
.try-free .form-block .title{
	line-height: 0.9;
}
.try-free .form-block p{
	padding-top: 30px;
	padding-bottom: 10px;
    font-size: 18px;
    color: #959595;
}
.input-group{
    margin-bottom: 10px;
}
.try-free .input-group{
	width: 72%;
    margin: auto;
    margin-bottom: 10px;
}
.form-control{
	height: 44px;
    border-radius: 0;
}
.input-group-addon{
	padding: 4px 16px;
    background-color: transparent;
}
.try-free button{
	margin-top: 20px;
    padding: 8px 40px;
    font-size: 16px;
}
.try-free button span{
	padding-right: 10px;
}
.try-free .you-get{
	width: 375px;
	height: 210px;
	border: 1px solid #dadada;
	background: #ffffff;
	box-shadow: 4px 4px 7px rgba(24,24,24,0.19);
	border-radius: 5px;
	padding: 20px 55px;
}
.try-free .you-get .caption, .try-free .you-get span{
	color: #149f4a;
}
.try-free .you-get span{
	padding-right: 10px;
}
.try-free .you-get .head{
	font-size: 34px;
    font-weight: bold;
    padding-bottom: 10px;
}
.try-free .you-get .item{
	font-size: 17px;
    padding-bottom: 8px;
}
.caption{
	background: rgba(0,0,0,0.6);
	padding-top: 55px;
    padding-bottom: 65px;
}
.caption .title{
	color: #ffffff;
}
.tariff{
	padding-bottom: 100px;
}
.tariff .order{
	background: #f8f8f8;
	padding-top: 55px;
	padding-bottom: 65px;
}
.order .title{
	font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.order .title p{
	font-size: 15px;
}
.order .description{
	padding-top: 40px;
	width: 90%;
    margin: auto;
}
.order .content{
	width: 25%;
}
.order .img{
	height: 100px;
	width: 100px;
	margin:auto;
}
.order .text{
	margin-top: 20px;
}
.checkout{
	padding-top: 60px;
}
.checkout .title{
	font-size: 28px;
	padding-bottom: 40px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
	margin-left: -30px;
}
.checkout .radio{
	padding: 15px 40px;
    border: 1px solid #d8d8d8;
    background: #f8f8f8;
    width: 225px;
    text-align: left;
    margin-right: 15px;
    margin-bottom: 30px;
}
.select{
	width: 100px;
	margin: 0 10px 10px;
}
.col1{
	width: 100px;
}
.select .input-group-addon{
	padding: 4px 10px;
}
.select .form-control{
	height: 38px;
}
.checkout form p{
	font-size: 18px;
	padding-top: 10px;
	color: #989898;
}
.form-order .input-group{
	width: 83%;
}
.pay{
	background: #f8f8f8;
	padding: 30px 60px 50px;
}
.pay .title{
	font-size: 26px;
	padding-bottom: 10px;
}
.pay .title span{
	font-size: 12px;
}
.pay .title.top{
	color: #5c5c5c;
}
.pay p{
	font-size: 18px;
    padding-top: 10px;
}
.pay .form-inline{
	padding-bottom: 20px;
}
.pay .learn-more{
	font-size: 10px;
}
.pay .try{
	width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
}
.learn-more span{
	padding-left: 5px;
}
.pay .form-control{
	width: 290px;
}
.pay .form-inline .btn{
	margin-left: 10px;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
}
.we-get{
	background: #eeeeee;
	padding-top: 45px;
    padding-bottom: 35px;
}
.we-get .text{
	font-size: 26px;
	line-height: 0.9;
	margin-right: 70px;
	padding-top: 15px;
}
.we-get .text a{
	font-size: 11px;
}
.we-get .text a span{
	padding-left: 10px;
}
.we-get .picture{
	margin-right: 40px;
}
.calc{
	padding: 60px;
}
.calc .title{
	font-size: 28px;
	padding-bottom: 40px;
}
.calc-left{
	width: 80%;
}
.calc .nav-tabs{
	width: 82%;
	text-align: center;
	margin-bottom: 75px;
}
.calc .nav-tabs li{
	width: 50%;
  	background: #f8f8f8;
  	padding-right: 10px;
  	border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: 0;
	border-top: 1px solid red;
	border-right: 0;
}
.nav-tabs > li > a:hover{
	border: 0;
}
.nav-tabs{
	border-bottom: 1px solid transparent;
}
.nav-tabs > li > a{
	border-radius: 0;
}
.calc .nav > li > a:hover, .calc .nav > li > a:focus {
	background: #f8f8f8;
}
.calc-right{
	background: #f8f8f8;
	padding: 130px;
}
.prices-bottom{
	background: #f8f8f8;
	padding-top: 100px;
	padding-bottom: 135px;
}
.prices-bottom .call, .prices-bottom .call:hover{
	color: #ffffff;
	padding: 5px 40px;
    line-height: 0.9;
    font-size: 16px;
    margin-right: 20px;
}
.prices-bottom .try, .prices-bottom .try:hover{
	color: #200c00;
	font-size: 16px;
	padding: 7px 25px;
}
.prices-bottom .head{
	padding-bottom: 10px;
}
.prices-bottom .text{
	padding-bottom: 30px;
}
.support{
	padding-top:65px;
}
.support .row{
	padding-bottom: 35px;
}
.support-question .text{
	padding-top: 40px;
}
.support .email{
	font-size: 26px;
    font-weight: 900;
}
.support .email span{
	color: grey;
    font-size: 20px;
}
.support-head{
	font-size: 26px;
    font-weight: 900;
    line-height: 1.2;
}
.support-conditions .support-head{
	padding-bottom: 10px;
}
.support-4col img{
	padding-bottom: 15px;
}
.support-4col .text{
	width: 72%;
    margin: auto;
}
.support-b{
	border-right: 1px solid #dbdbdb;
}
.btn-support{
	padding: 8px 50px;
	margin-top: 30px;
}
.support p{
	font-size: 16px;
	padding-top: 5px;
}
.support-bottom{
	padding-bottom: 65px;
}
.support-bottom .text-center{
	width: 66%;
    margin: auto;
}