/*colors
фиолет 
чорный
серый
белый #ffffff

*/
.banner-img{
	width: 80%;
}
@font-face {
font-family: 'San Francisco Text Bold';
src: url('../fonts/SFUIText-Bold.eot');
src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Bold.woff') format('woff'),
url('../fonts/SFUIText-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Light';
src: url('../fonts/SFUIText-Light.eot');
src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Light.woff') format('woff'),
url('../fonts/SFUIText-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Semibold';
src: url('../fonts/SFUIText-Semibold.eot');
src: url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Semibold.woff') format('woff'),
url('../fonts/SFUIText-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Heavy';
src: url('../fonts/SFUIText-Heavy.eot');
src: url('../fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Heavy.woff') format('woff'),
url('../fonts/SFUIText-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Medium';
src: url('../fonts/SFUIText-Medium.eot');
src: url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Medium.woff') format('woff'),
url('../fonts/SFUIText-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.font-heavy{
  font-family: 'San Francisco Text Heavy';	
}
.font-light{
	font-family: 'San Francisco Text Light';
}
.font-bold{
	font-family: 'San Francisco Text Bold';
}
.font-medium{
	font-family: 'San Francisco Text Medium';	
}
.f-14{
	font-size: 14px;
	line-height: 1.6;
}
.f-12{
	font-size: 12px;
}
.text-bold{
	font-weight: bold;
}
.text-white{
	color: #ffffff;
}
.text-violet{
	color: rgb(98, 78, 145);
}
.text-grey{
	color: rgb(149, 150, 153);
}
.text-black-grey{
	  color: rgb(107, 107, 107);
}
.text-black{
  color: rgb(57, 59, 69);
}
.text-red{
  color: rgb(250, 39, 76);
}
.bg-violet{
	background: rgb(98, 78, 145);
}
.bg-yellow{
   background-color: rgb(255, 146, 101);
}
.bg-red{
   background-color: rgb(250, 39, 76);
}
.flex{
	display: flex;
}
.inherit{
	display: inherit;
}
.bg-white{
	background: #ffffff;
}
.border-violet{
	  border-color: rgb(98, 78, 145);
}
.b-l{
	border-left: 0;
}
.b-r{
	border-right: 0;
}
a, a:hover{
	color: inherit;
	text-decoration: none;
}
header{
	padding-top: 15px;
}
.choose-menu{
  font-size: 18px;
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 3.037;
  border: 0;
}

.menu-item{
  font-size: 14px;
  font-family: 'San Francisco Text Light';
  color: rgb(107, 107, 107);
  padding: 0 20px;
}
.btn.login {
  font-size: 14px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
}
.btn:active, .btn.active{
	box-shadow: none;

}
.btn.bg-grey{
	border-color: rgb(121, 121, 121);
}
.btn.bg-transparent{
	background: transparent;
}
.logo{
	background: #f4f4f4;
	padding: 10px 0;
}
.logo .title{
  font-size: 24px;
  font-family: 'San Francisco Text Light';
  color: rgb(57, 59, 69);
  line-height: 1.2;
  margin-right: 100px;
}
.logo .city{
  font-size: 16px;
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 2.999;
}
.logo .text{
  font-size: 20px;
  font-family: 'San Francisco Text Bold';
   color: rgb(57, 59, 69);
  font-weight: bold;
}
.logo .resume {
  font-size: 14px;
  font-family: 'San Francisco Text Bold';
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 20px;
}
.banner{
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
}
.banner-text{
	width: 50%;
    margin-left: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.banner .title{
  font-size: 48px;
  font-family: 'San Francisco Text Bold';
  color: rgb(98, 78, 145);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.banner .subtitle{
  font-size: 18px;
  font-family: 'San Francisco Text Light';
  color: rgb(107, 107, 107);
}
.search form{
	margin-top: -20px;
  font-size: 12px;
  font-family: 'San Francisco Text Light';
  color: rgb(107, 107, 107);
}
.search .form-group{
	margin-bottom: 0;
}
.search .form-control{
	height: 60px;
	border-top:0;
	border-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	line-height: 3;
}
.search-tag .btn:hover, .search-tag .btn:focus,  .search-tag .btn.focus{
	color: #ffffff;
	background: rgb(98, 78, 145);
	margin-right: 20px; 
}
.search-tag .btn{
	margin: 20px 20px 20px 0; 
}

.right-side{
	height: fit-content;
	border-left: 1px solid rgba(98, 78, 145, 0.302);
	padding: 10px 20px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.right-side .text-black{
	font-family: 'San Francisco Text Bold';
}
.right-side .text-grey{
	font-family: 'San Francisco Text Light';
	font-size: 18px;
}
.right-side .text-red{
	font-family: 'San Francisco Text Semibold';
	font-size: 16px;
	margin-top: 20px;
	line-height: 1.2;
}
.right-side .text-red img{
	margin-right: 10px;
}
.right-side img{
	margin-right: 10px;
}
.title{
  font-size: 20px;
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0;
}
.reviews-for{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(98, 78, 145);
}
.rating{
  font-size: 16px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
  line-height: 1.875;
}
.master-item{
	margin: 20px 0;
}
.master-item .btn:hover, .btn:focus, .btn.focus{
	color: #ffffff;
}
.view-profile{
	margin-top: 25px;
}
.view-profile a{
	font-size: 16px;
	font-family: 'San Francisco Text Bold';
}
.demand{
	padding: 2px 6px;
}
.left-side{
	padding-bottom: 10px;
}
.master-name{
	font-size: 20px;
}
.master-contact{
	padding-right: 20px;
}
.master-picture{
	margin-right: 20px;
}
.master-desc{
	width: 500px;
}
.master-desc, .master-contact{
	margin-top: 20px;
}
.master-phone{
	font-size: 18px;
	font-family: 'San Francisco Text Semibold';
	margin-bottom: 5px;
    padding: 3px 8px;
}
.master-item .search-tag{
	padding: 1px 8px;
    margin: 15px 20px 20px 0;
}
.p{
	font-size: 12px;
	  font-family: 'San Francisco Text Light';
}


.review-item .text{
  font-size: 12px;
  font-family: 'San Francisco Text Light';
  color: rgb(149, 150, 153);
  line-height: 1.2;
}
.img-feedbacker{
  border-radius: 50%;
  width: 29px;
  height: 29px;
}
.feedbacker{
  font-size: 14px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
	line-height: 2;
	margin-left: 10px;
}
.feedback-time{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(149, 150, 153);
  line-height: 3.427;
}
.all-reviews{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(149, 150, 153);
  line-height: 2;
}
.bg-grey{
  border-radius: 5px;
  background-color: rgb(242, 242, 242);	
}
.box-shadow{
  box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
}
.review-item{
  width: 30%;
}
.review-item .bg-white{
	border-bottom: 1px solid rgba(98, 78, 145, 0.302);
}
.review-item .img-master{
	width: 70px;
    border-radius: 5px;
}
.review-item.m-r{
	margin-right: 70px;
}
.review-item .top, .review-item .text{
	padding: 10px
}
.review-item .bottom{
    padding: 20px 10px 40px 10px;
}
.img-master{
	margin-right: 10px;
}
.img-master img{
	width: 70px;
	border-radius: 5px;
}
.banner-bottom{
	background: url(../img/banner-bottom.png) no-repeat;
	background-size: cover;
	padding: 20px 0;
}




