/*colors
фиолет 
чорный
серый
белый #ffffff

*/
.banner-img{
	width: 80%;
}
@font-face {
font-family: 'San Francisco Text Bold';
src: url('../fonts/SFUIText-Bold.eot');
src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Bold.woff') format('woff'),
url('../fonts/SFUIText-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Light';
src: url('../fonts/SFUIText-Light.eot');
src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Light.woff') format('woff'),
url('../fonts/SFUIText-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Semibold';
src: url('../fonts/SFUIText-Semibold.eot');
src: url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Semibold.woff') format('woff'),
url('../fonts/SFUIText-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'San Francisco Text Heavy';
src: url('../fonts/SFUIText-Heavy.eot');
src: url('../fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Heavy.woff') format('woff'),
url('../fonts/SFUIText-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Medium';
src: url('../fonts/SFUIText-Medium.eot');
src: url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Medium.woff') format('woff'),
url('../fonts/SFUIText-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.font-heavy{
  font-family: 'San Francisco Text Heavy';	
}
.text-violet{
	color: rgb(98, 78, 145);
}
.bg-violet{
	background: rgb(98, 78, 145);
}
.bg-yellow{
   background-color: rgb(255, 146, 101);
}
.flex{
	display: flex;
}
.bg-white{
	background: #ffffff;
}
.border-violet{
	  border-color: rgb(98, 78, 145);
}
a{
	color: inherit;
}
header{
	padding-top: 15px;
}
.choose-menu{
  font-size: 18px;
/*  font-family: "SFUIText";*/
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 3.037;
  border: 0;
}

.menu-item{
  font-size: 14px;
  font-family: 'San Francisco Text Light';
  color: rgb(107, 107, 107);
  padding: 0 20px;
}
.btn.login {
  font-size: 14px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
}
.btn{
  border: 1px solid 
  border-color: rgb(121, 121, 121);
  border-style: solid;
  border-radius: 5px;
}
.btn.bg-grey{
	border-color: rgb(121, 121, 121);
}
.btn.bg-transparent{
	background: transparent;
}
.logo{
	background: #f4f4f4;
	padding: 10px 0;
}
.logo .title{
  font-size: 24px;
  font-family: 'San Francisco Text Light';
  color: rgb(57, 59, 69);
  line-height: 1.2;
  margin-right: 100px;
}
.logo .city{
  font-size: 16px;
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 2.999;
}
.logo .text{
  font-size: 20px;
  font-family: 'San Francisco Text Bold';
   color: rgb(57, 59, 69);
  font-weight: bold;
}
.logo .resume {
  font-size: 14px;
  font-family: 'San Francisco Text Bold';
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 20px;
}
.banner{
	padding: 100px 0;
}
.banner .title{
  font-size: 48px;
  font-family: 'San Francisco Text Bold';
  color: rgb(98, 78, 145);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.banner .subtitle{
  font-size: 18px;
  font-family: 'San Francisco Text Light';
  color: rgb(107, 107, 107);
}


.reviews .title{
  font-size: 20px;
  font-family: 'San Francisco Text Bold';
  color: rgb(57, 59, 69);
  font-weight: bold;
  line-height: 1.5;
}
.reviews-for{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(98, 78, 145);
}
.rating{
  font-size: 16px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
  line-height: 1.875;
}
.review-item .text{
  font-size: 12px;
  font-family: 'San Francisco Text Light';
  color: rgb(149, 150, 153);
  line-height: 1.2;
}
.img-feedbacker{
  border-radius: 50%;
  width: 29px;
  height: 29px;
}
.feedbacker{
  font-size: 14px;
  font-family: 'San Francisco Text Semibold';
  color: rgb(107, 107, 107);
  line-height: 3.427;
}
.feedback-time{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(149, 150, 153);
  line-height: 3.427;
}
.all-reviews{
  font-size: 14px;
  font-family: 'San Francisco Text Medium';
  color: rgb(149, 150, 153);
  line-height: 3.427;
}
.review-item{
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
  width: 30%;
}
.review-item .bg-white{
	border-bottom: 1px solid rgba(98, 78, 145, 0.302);
}
.review-item .img-master{
	width: 70px;
    border-radius: 5px;
}
.review-item.m-r{
	margin-right: 70px;
}
.review-item .top, .review-item .text{
	padding: 10px
}
.review-item .bottom{
	padding: 20px;
}
.img-master{
	margin-right: 10px;
}
.img-master img{
	width: 70px;
}




