@font-face {
font-family: 'San Francisco Text Bold';
src: url('../fonts/SFUIText-Bold.eot');
src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Bold.woff') format('woff'),
url('../fonts/SFUIText-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Light';
src: url('../fonts/SFUIText-Light.eot');
src: url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Light.woff') format('woff'),
url('../fonts/SFUIText-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Semibold';
src: url('../fonts/SFUIText-Semibold.eot');
src: url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Semibold.woff') format('woff'),
url('../fonts/SFUIText-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Heavy';
src: url('../fonts/SFUIText-Heavy.eot');
src: url('../fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Heavy.woff') format('woff'),
url('../fonts/SFUIText-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Medium';
src: url('../fonts/SFUIText-Medium.eot');
src: url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/SFUIText-Medium.woff') format('woff'),
url('../fonts/SFUIText-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.font-heavy{
  font-family: 'San Francisco Text Heavy';	
}
.font-light{
	font-family: 'San Francisco Text Light';
}
.font-bold{
	font-family: 'San Francisco Text Bold';
}
.font-medium{
	font-family: 'San Francisco Text Medium';	
}
.font-semibold{
	font-family: 'San Francisco Text Semibold';	
}
.f-48{
	font-size: 48px;
}
.H1{
	font-size: 36px;
	margin: 0;
}
.h1{
	font-size: 24px;
	margin: 0;
	line-height: 1.42857143;
}
.h2{
	font-size: 18px;
}
.h3{
	font-size: 16px;
	margin: 0;
}
.h4{
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
}
.p{
	font-size: 12px;
	margin: 0;
}
.f-30{
	font-size: 30px;
	border-bottom: 2px dotted rgb(126, 166, 233);
	width: fit-content;
	color: rgb(126, 166, 233);
	margin-bottom: 20px;
}
.f-60{
	font-size: 60px;
}
.border-dashed{
		border: 1px dashed rgb(98, 78, 145);
}
.border-radius{
	border-radius: 5px;
}
.text-blue{
  color: rgb(126, 166, 233);
}
.text-white{
	color: #ffffff;
}
.text-violet{
	color: rgb(98, 78, 145);
}
.text-yellow{
	color: rgb(255, 146, 101);
}
.text-grey{
	color: rgb(149, 150, 153);
}
footer a:hover, .all-price:hover{
	color: rgb(149, 150, 153);
}
.master-contact .btn:hover{
	color: rgb(149, 150, 153);
}
.text-black-grey{
	  color: rgb(107, 107, 107);
}
.text-black{
  color: rgb(57, 59, 69);
}
.text-red{
  color: rgb(250, 39, 76);
}
.text-coral{
  color: rgb(221, 95, 95);
}
.bg-coral{
  background: rgb(221, 95, 95);
}
.text-underline{
	text-decoration: underline;   
}
.bg-white{
	background: #ffffff;
}
.bg-light-grey{
	background: #fcfcfc;
}
.bg-footer{
	background: #6e6e6e;
}
.bg-violet{
	background: rgb(98, 78, 145);
}
.bg-yellow{
   background-color: rgb(255, 146, 101);
}
.bg-red{
   background-color: rgb(250, 39, 76);
}
.bg-sun{
	background: #e8ae39;
}
.flex{
	display: flex;
}
.inherit{
	display: inherit;
	cursor: pointer;
}
.inline{
	display: inline;
}
.border-violet{
	border: 1px solid rgb(98, 78, 145);
	border-radius: 5px;
}
.border-yellow{
	border: 1px solid rgb(255, 146, 101);
	border-radius: 5px;
}
.b-l{
	border-left: 0;
}
.b-r{
	border-right: 0;
}
.border-none{
	border: 0 !important;
}
a, a:hover{
	color: inherit;
	text-decoration: none;
}
.btn:hover, .btn:focus, .btn.focus{
	color: inherit;
	box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
}
.btn:hover{
	box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
}
label{
	font-weight: normal;
}
* {
  outline: 0 !important;
}
button::-moz-focus-inner 
{
  border: 0;
}
/*banners*/
.looking{
	font-size: 16px;
	color: rgb(57, 59, 69);
	line-height: 2.999;
	position: relative;
	left: 4.7%;
	top: 75px;
}
/*custom-select*/
.custom-select {
  position: relative;
}
.custom-select select {
  display: none; 
}
.select-selected {
  background-color: #ffffff;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}
.search .select-selected:after {
  position: absolute;
  content: url(../img/select-filtr.png);
  top: 14px;
  right: 10px;
  border: 0;
  padding-right: 20px;
}
.search .area .select-selected:after{
	margin-top: 10px;
}
.search .select-selected:after{
	margin-top: -5px;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}
.select-items div{
  padding: 12px 16px;
}
.search .select-items{
	font-size: 12px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 5px;
	font-size: 16px;
	box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
	border-radius: 5px;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: #f4f4f4;
}
.area .select-selected{
	width: 30%;
	padding-left: 0;
	margin-top: 15px;
	font-size: 12px;
	font-family: 'San Francisco Text Light';
	color: rgb(98, 78, 145);
}
.area img{
	float: right;
	margin-top: 15px;
}
.search .select-items div, .search .select-selected {
    margin-top: -6px;
}
.search .area .select-items div, .search .area .select-selected {
    margin-top: 15px;
}
/*header*/
header{
	padding-top: 15px;
}
.choose-menu{
	font-size: 18px;
	font-family: 'San Francisco Text Bold';
	color: rgb(57, 59, 69);
	font-weight: bold;
	line-height: 3.037;
	border: 0;
}
header .type{
	margin-right: 20px;
}
.menu-item{
	font-size: 14px;
	font-family: 'San Francisco Text Light';
	color: rgb(107, 107, 107);
	padding: 0 10px;
}
.btn.login {
	font-size: 14px;
	font-family: 'San Francisco Text Semibold';
	color: rgb(107, 107, 107);
	margin-top: -6px;
}
.btn:active, .btn.active{
	box-shadow: none;
}
.btn.bg-grey{
	border-color: rgb(121, 121, 121);
}
.btn.bg-transparent{
	background: transparent;
}
/*section logo*/
.logo{
	background: #f4f4f4;
	padding: 10px 0;
}
.logo .title{
	font-size: 24px;
	font-family: 'San Francisco Text Light';
	color: rgb(57, 59, 69);
	line-height: 1.2;
	margin: 0 100px 0 0;
}
.logo .city{
	font-size: 16px;
	font-family: 'San Francisco Text Bold';
	color: rgb(57, 59, 69);
	padding-top: 20px;
}
.logo .city img{
	margin-right: 8px;
    margin-top: -10px;
}
.logo .resume {
	font-size: 14px;
	font-family: 'San Francisco Text Bold';
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
}
/*section banner*/
.banner{
	background-size: cover;
}
.banner-head{
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
}
.banner1{
	background: url(../img/banner1.png) no-repeat;
}
.banner2{
	background: url(../img/banner2.png) no-repeat;
}
.banner3{
	background: url(../img/banner3.png) no-repeat;
}
.banner4{
	background: url(../img/banner4.png) no-repeat;
}
.banner5{
	background: url(../img/banner5.png) no-repeat;
}
.banner-text{
	width: 50%;
    margin-left: 59%;
    margin-top: 12%;
    margin-bottom: 15%;
}
.banner .title{
	color: rgb(98, 78, 145);
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 15px;
}
.banner .subtitle{
	font-size: 18px;
	font-family: 'San Francisco Text Light';
	color: rgb(107, 107, 107);
	line-height: 1.2;
}
/*section search*/
.search form{
	margin-top: -20px;
	font-size: 12px;
	font-family: 'San Francisco Text Light';
	color: rgb(107, 107, 107);
}
.select-area{
	text-align: right;
}
.search .form-group{
	margin-bottom: 0;
}
.search .form-control{
	height: 60px;
	border-top:0;
	border-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	line-height: 3;
}
.search-tag .btn:hover, .search-tag .btn:focus,  .search-tag .btn.focus{
	color: #ffffff;
	background: rgb(98, 78, 145);
	margin-right: 20px; 
}
.search-tag .btn{
	margin: 30px 20px 20px 0; 
}
/*section master*/
.right-side{
	height: fit-content;
	border-left: 1px solid rgba(98, 78, 145, 0.302);
	padding: 10px 20px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.right-side .text-black{
	font-family: 'San Francisco Text Bold';
}
.right-side .text-grey{
	font-family: 'San Francisco Text Light';
	font-size: 18px;
}
.right-side .text-red{
	font-family: 'San Francisco Text Semibold';
	font-size: 16px;
	margin-top: 20px;
	line-height: 1.2;
}
.right-side .text-red img{
	margin-right: 10px;
}
.right-side img{
	margin-right: 10px;
}
.section-title{
	font-size: 20px;
	font-family: 'San Francisco Text Bold';
	color: rgb(57, 59, 69);
	font-weight: bold;
	line-height: 1.5;
	margin: 20px 0;
}
.reviews-for{
	font-size: 14px;
	font-family: 'San Francisco Text Medium';
	color: rgb(98, 78, 145);
}
.rating{
	font-size: 16px;
	font-family: 'San Francisco Text Semibold';
	color: rgb(107, 107, 107);
	line-height: 1.875;
}
.master-item{
	margin: 20px 0;
}
.view-profile{
	margin-top: 25px;
}
.view-profile a{
	font-size: 16px;
	font-family: 'San Francisco Text Bold';
}
.demand{
	padding: 2px 6px;
	margin-right: 5px;
}
.left-side{
	padding-bottom: 10px;
	width: 75%;
}
.masters .master-name{
	font-size: 20px;
}
.rating{
	margin-left: 15px;
}
.rating img{
	margin-right: 5px;
    margin-top: -5px;
}
.master-contact{
	padding-right: 20px;
}
.master-picture{
	margin-right: 20px;
}
.master-desc{
	width: 500px;
}
.master-desc, .master-contact{
	margin-top: 15px;
}
.master-phone{
	font-size: 18px;
	font-family: 'San Francisco Text Semibold';
	margin-bottom: 5px;
    padding: 3px 8px;
}
.master-item .search-tag .btn{
	padding: 1px 8px;
    margin: 10px 20px 20px 0;
}
.master-item .price{
	line-height: 1.6;
}
.review-item .text{
	font-size: 12px;
	font-family: 'San Francisco Text Light';
	color: rgb(149, 150, 153);
	line-height: 1.2;
}
.img-feedbacker{
	border-radius: 50%;
	width: 29px;
	height: 29px;
}
.feedbacker{
	font-size: 14px;
	font-family: 'San Francisco Text Semibold';
	color: rgb(107, 107, 107);
	line-height: 2;
	margin-left: 10px;
}
.feedback-time{
	font-size: 14px;
	font-family: 'San Francisco Text Medium';
	color: rgb(149, 150, 153);
	line-height: 2;
}
.all-reviews{
	font-size: 14px;
	font-family: 'San Francisco Text Medium';
	color: rgb(149, 150, 153);
	margin-top: 45px;
}
.bg-grey{
	border-radius: 5px;
	background-color: rgb(242, 242, 242);	
}
.box-shadow{
	box-shadow: 0px 0px 9.4px 0.6px rgba(107, 107, 107, 0.14);
}
.review-item{
	width: 30%;
}
.review-item .bg-white{
	border-bottom: 1px solid rgba(98, 78, 145, 0.302);
}
.review-item .img-master{
	width: 70px;
    border-radius: 5px;
}
.review-item.m-r{
	margin-right: 70px;
}
.review-item .top, .review-item .text{
	padding: 10px
}
.review-item .bottom{
    padding: 15px 10px 40px 10px;
}
.img-master{
	margin-right: 10px;
}
.img-master img{
	width: 70px;
	border-radius: 5px;
}
/*paggination*/
.paggination{
	padding: 9px;
    height: 40px;
    margin-top: 40px;
    color: rgb(131, 131, 131);
    font-size: 13px;
    font-family: 'San Francisco Text Light';
}
.paggination .pull-left div {
    padding: 2px 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.banner-bottom-head{
	background: url(../img/banner-bottom.png) no-repeat;
}
.banner-bottom1{
	background: url(../img/banner-bottom1.png) no-repeat;
}
.banner-bottom2{
	background: url(../img/banner-bottom2.png) no-repeat;
}
.banner-bottom3{
	background: url(../img/banner-bottom3.png) no-repeat;
}
.banner-bottom4{
	background: url(../img/banner-bottom4.png) no-repeat;
}
.banner-bottom5{
	background: url(../img/banner-bottom5.png) no-repeat;
}
.banner-bottom{
	background-size: cover;
	padding: 70px 0 30px 0;
}
.banner-bottom .text-center{
	width: 450px;
	margin: auto;
}
.banner-bottom .btn{
	padding: 6px 50px;
	margin-top: 10px;
}
.banner-bottom-how-it-work{
	background: #f7f7f7;
		padding: 30px 0;
}
/*section place*/
.place-item{
	margin: 30px 40px 40px 40px;
	height: fit-content;
}
.place-item .picture img{
	width: -webkit-fill-available;
}
.place-item .text{
	padding: 20px;
	margin-top: -70px;
}
.place-item .picture{
	height: 310px;
}
.place-item .title{
	height: 40px;
}
.place-item  .more{
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #f2f2f2;
	padding: 20px 20px 40px;
}
/*section  keyword*/
.keywords img{
	margin-top: 80px;
    margin-right: 30px;
}
.keywords .text div{
	line-height: 1.3;
    margin-bottom: 15px;
}
/*section  footer*/
footer{
	padding: 30px 0;
}
.f-menu{
	margin-right: 60px;
    margin-bottom: 20px;
}
.cookies{
	margin-left: 20px;
}
.line{
	border-width: 1px;
	border-color: rgb(168, 168, 168);
	border-style: solid;
	background-color: rgb(232, 174, 57);
}
.copyright{
	margin-top: 10px;
}
.payments{
	margin: 145px 40px 0 80px;
}
.payments span{
	margin: 0 10px;
}
.payments .f-logo{
	margin: 0;
    padding-right: 30px;
    position: relative;
    top: 8px;
}
footer a.btn{
	padding: 6px 40px;
    margin: 5px 0;
}

/*breadcramp*/
.breadcramp{
	padding: 35px 0 10px;
}
.breadcramp img{
	margin: -1px 10px 0;
}

/*profil*/
.profil .master-item .price{
	margin: 20px 0;
    padding: 10px;
    width: fit-content;
}
.info{
	padding: 8px;
	margin-top: 30px;
	border-radius: 5px;
}
.info img{
	margin: 0 20px;
}
.rewies-box{
	width: 85%;
    margin-right: 20px;
    margin-bottom: 35px;
}
.add-rewies .btn{
	height: 35px;
    margin-bottom: 5px;
}
.rewies-item .text{
	margin-left: 15px;
}
.feedback-time .text-black{
	margin-right: 40px;
}
.load-more{
	margin-top: 20px;
}
.profil .master-desc{
	width: auto;
	padding-right: 20px;
}
.profil .master-contact{
	margin-top: 0;
}
.profil .right-side{
	padding-top: 0;
}
/*faq*/
.faq-item-title{
	line-height: 3;
}
.answer{
	padding: 10px;
    margin-bottom: 20px;
}
/*cabinet*/
.cabinet-profil .master-picture img{
	width: 90px;
}
.cabinet-profil .h1{
	padding: 20px 0 40px;
}
.cabinet-profil{
	width: 80%;
}
.cabinet-profil .master-desc{
	margin-top: -15px;
}
.cabinet-profil .price{
	line-height: 1.6;
    margin-bottom: 10px;	
}
.qualification{
	margin: 15px 0;
}
.qualification div{
	padding: 5px 0;
}
.cabinet-profil .master-picture {
    margin-right: 10px;
}
.cabinet-profil .box-shadow{
	padding: 10px 10px 20px;
}
.go-edit{
	height: fit-content;
	margin-left: 20px;
	margin-top: 90px;
}
.go-edit img{
	padding: 5px;
}
.go-edit .text{
	padding: 10px 20px 30px;
}
.go-edit .text a{
	position: relative;
	top: 10px;
}
.cabinet-menu{
	height: fit-content;
	margin-right: 9%;
	padding: 20px 30px;
}
.cabinet-menu div{
	line-height: 2;
}
.rules{
	margin-bottom: 80px;
}
.rules-item{
	margin-bottom: 85px;
}
.rules .text{
	margin-left: 60px;
    margin-top: 55px;
}
.modal-footer, .modal-header {
    text-align: left;
    border: 0; 
}
.rewies-head span{
	margin: 0 5px;
	line-height: 2;
}
.rewies-head span:first-child{
	margin-left: 0;
}
/*setting*/
.setting .form-control{
	height: 42px;
    margin-top: 8px;
}
.setting .cabinet-menu{
    margin-right: 18%;
    padding: 20px 30px;
    width: 10%;
}
.setting .form-group, .registration .form-group{
	margin-bottom: 10px;
}
.setting .form{
	width: 41%;
}
.form{
    padding: 15px 5px;
}
.picture{
	margin-bottom: 25px;
}
.form-check{
	margin-bottom: 10px;
}
.price .form-control{
	height: 25px;
    text-align: center;
}
.price label{
    line-height: 2.5;
    margin-left: -5px;
}
.setting .add-work{
	padding: 34px 20px 43px;
    line-height: 0;
    margin: 10px 0;
}
/*registration*/
.registration .form{
	width: 50%;
	margin: 50px auto;
}
.registration .price label{
    line-height: 1.4;
}
.for-mobile{
	display: none;
}

/*for phone*/
@media screen and (max-width: 758px) {
	.flex.search-tag, .place .flex, .reviews .flex-reviews, .master-item.flex{
		display: block;
	}
	.logo .title{
		margin-right: 10px;
	}
	header{
		height: 60px;
	}
	header .login{
		margin-top: -60px !important;
	}
	.search-tag .btn {
    margin: 15px 10px 0px 0;
	}
	.all-reviews{
		margin: 20px 0;
	}
	.right-side{
		border-left: 0;
	}
	.master-picture img{
		width: 70px;
		height: 70px;
		margin-top: 25px;
	}
	.master-picture{
		margin-right: 10px;
	}
	.master-contact{
		height: fit-content;
    position: relative;
    top: 40px;
    right: 100px;	
	}
	.reviews{
		margin-top: 50px;
	}
	.paggination{
		margin-top: 40px;
	}
	.paggination .font-semibold{
		margin-top: 30px;
	}
	.master-item .flex .top{
		width: 200%;
	}
	.master-item .desc-for-mobile{
		width: 270% !important;
		position: relative;
		right: 70px;
	}
	.master-item .desc{
		margin-top: 80px !important;
	}
	.right-side{
		display: flex;
		padding: 10px 5px;
	}
	.right-side-left{
		width: 60%;
	}
	.right-side br, .banner-text .H1 br{
		display: none;
	}
	.right-side .text-red{
		margin-top: 5px;
	}
	.view-profile{
		position: relative;
		top: 340px;
		width: -webkit-fill-available;
	}
	.custom-select {
	    left: 38px;
	    margin-top: -35px !important;
	}
	.review-item.m-r{
		margin-right: 0;
	}
	.logo .resume{
		margin-left: 0;
	}
	.review-item{
		margin-bottom: 20px;
	}
	.flex.search-tag div{
		display: inline;
	}
	.for-desktop{
		display: none;
	}
	.for-mobile{
		display: block;
	}
	.keywords img{
		margin: 0;
		width: 99%;
	}
	.review-item, .master-desc, .left-side{
		width: auto;
	}
	.banner-head{
	background: url(../img/banner_m.png) no-repeat;
	background-size: contain;
	}
	.banner-text {
    width: auto;
    margin-left: 0;
    margin-top: 12%;
    margin-bottom: 15%;
    padding: 140px 0 0px;
	}
	footer a.btn{
		padding: 6px 12px;
	}
	.f-menu{
		margin-right: 15px;
	}
	.flex.footer-menu{
		margin-bottom: 90px;
	}
	footer .order{
		position: relative;
    	right: 110px;
	}
	footer .payments {
    margin: 0;
    position: relative;
    top: 180px;
    right: 46%;
    height: fit-content;
	}
	footer  .width-for-menu{
		width: 220%;
	}
	/*cabinet*/
	.cabinet-menu {
    margin-right: 4%;
    padding: 20px 10px;
	} 
	.go-edit {
    margin-left: 0;
    margin-top: -25px;
	}
	.cabinet-profil .user{
		float: left !important;
		line-height: 1 !important;
		text-align: left !important;
	}
	.text-desc{
		width: auto !important;
		margin: 0 !important;
	}
	/*faq*/
	.faq-img{
		width: 20% !important;
	}
	.faq-item-title {
	    line-height: 1.5;
	    margin-bottom: 10px;
	}
	/*rules*/
	.rules img{
		width: 99%;
	}
	.rules .text {
	    margin-left: 20px;
	    margin-top: 20px;
	}
	.rules-item {
	    margin-bottom: 10px;
	}
	.registration .form{
		width: 90%;
	}
	/*setting*/
	.setting .cabinet-menu {
	    margin-right: 5%;
	    padding: 20px 15px;
	    width: auto;
	}
	.setting .form {
	    width: auto;
	}
	.setting .form-row, .registration .form-row{
		display: flex;
	}
	/*profil*/
	.add-rewies .btn {
	    height: auto; 
	    float: right;
	}
	.add-rewies .flex{
		display: block;
	}
	.rewies-box {
	    width: auto;
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.add-rewies-right{
		margin-bottom: 35px;
	}
	.load-more {
	    margin-top: 10px;
	    margin-bottom: 40px;
	}
	.banner-bottom .text-center{
		width: auto;
	}
	.info img {
	    margin: 10px 15px 10px 5px;
	}
	.profil .master-item .price{
		margin: 0;
	}
	.profil .right-side-left {
	    width: 70%;
	}
}